<div ng-app="shippingRateApp" ng-controller="shippingRateController">
	<div class="box-body">

		<div class="form-group">
			<label class="control-label col-md-3" for="rateType">Rate Type</label>
			<div class="col-md-6 form-control-static">
				{{form_widget(form.rateType, {'id' : 'rateType'})}}
				<div class="error-form">{{form_errors(form.rateType)}}</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3" for="title"><span class="require">*</span> Name</label>
			<div class="col-md-6 form-control-static">
				{{form_widget(form.title, {'id' : 'title'})}}
				<div class="error-form">{{form_errors(form.title)}}</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3" for="minimumRange"><span class="require">*</span> Minimum Range</label>
			<div class="col-md-6">
				<div class="input-group">
					{{form_widget(form.minimumRange, {'id' : 'minimumRange'})}}
					<span class="input-group-addon">{{'{{getIcon()}}'}}</span>
				</div>
				<div class="error-form">{{form_errors(form.minimumRange)}}</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3" for="maximumRange"><span class="require">*</span> Maximum Range</label>
			<div class="col-md-6">
				<div class="input-group">
					{{form_widget(form.maximumRange, {'id' : 'maximumRange'})}}
					<span class="input-group-addon">{{'{{getIcon()}}'}}</span>
				</div>
				<p class="help-block">0 for unlimited</p>
				<div class="error-form">{{form_errors(form.maximumRange)}}</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3" for="rateAmount">
				<span>
					<span class="require">*</span> {{'{{getFixedCostText()}}'}}
				</span>
			</label>
			<div class="col-md-6">
				<div class="input-group">
					{{form_widget(form.rateAmount, {'id' : 'rateAmount'})}}
					<span class="input-group-addon">฿</span>
				</div>
				<p ng-show="rate_type=='distance_based_rate'" class="help-block">Fixed cost added to shipping cost, 0 for disable</p>
				<div class="error-form">{{form_errors(form.rateAmount)}}</div>
			</div>
		</div>

		<div ng-show="rate_type=='distance_based_rate'" class="form-group">
			<label class="control-label col-md-3" for="rateAmount"> Charges Per Kilometer (After Minimum Range)</label>
			<div class="col-md-6">
				<div class="input-group">
					{{form_widget(form.variableCost, {'id' : 'variableCost'})}}
					<span class="input-group-addon">฿</span>
				</div>
				<p class="help-block">the value to charge based on the distance from store to the customer address</p>
				<div class="error-form">{{form_errors(form.variableCost)}}</div>
			</div>
		</div>
	</div>

	<div class="box-footer">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				{{form_widget(form.save, {'id' : 'save', 'label': 'Save'})}}
				<a href="{%if app.session.get('back_to_url')['admin_shipping_rate'] is defined%}
								{{app.session.get('back_to_url')['admin_shipping_rate']}}
						 {%else%}{{path('admin_shipping_rate')}}
					 	 {%endif%}" class="btn btn-default">Close
				</a>
			</div>
		</div>
	</div>
</div>

<script>
  var app = angular.module('shippingRateApp', []);
	app.controller('shippingRateController',['$scope', '$sce', function($scope, $sce){
		//default value
		$scope.rate_type = '{{ (form.vars.value.ratetype) ? form.vars.value.ratetype : 'distance_based_rate' }}';


		$scope.getIcon = function(){
			if($scope.rate_type == 'distance_based_rate'){
				return 'km';
			}else if($scope.rate_type == 'weight_based_rate'){
				return 'g';
			}else if($scope.rate_type == 'price_based_rate'){
				return '฿';
			}
		}

		$scope.getFixedCostText = function(){
			if($scope.rate_type == 'distance_based_rate'){
				return 'Fixed Cost';
			}else{
				return 'Rate Amount';
			}
		}

	}]);

</script>
