<style media="screen">
.img_wrap {
  position: relative;
  height: 150px;
  width: 150px;
}

.img_description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description_layer {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

.img_description {
  transition: .2s;
  transform: translateY(1em);
}

.img_wrap:hover .img_description {
  transform: translateY(0);
}
#image{
	display: none;
}
</style>
<div class="box-body">
	<div class="form-group">
		<label class="control-label col-md-3">Image:</label>
		<div class="col-md-6 form-control-static">
			<div class="img_wrap">
      <div for="img_description">
		  {% if form.vars.value.image %}
				<img id="image_thumbnail" class="img-responsive img_img" src="{{asset(form.vars.value.image) | imagine_filter('img_150x150')}}" alt="{{form.vars.value.getTitle}}" />
			{% else %}
				<img id="image_thumbnail" class="img-responsive img_img" src="https://placehold.it/150x150">
			{% endif %}
      </div>
<div class="error-form">{{form_errors(form.image)}}</div>
		<div class="img_description_layer" onclick="selectFileWithCKFinder('image', 'image_thumbnail');"><div class="img_description">Change Picture</div></div>
			     {{form_widget(form.image, {'id' : 'image'})}}
			  <p class="help-block">size image 150x150 px</p>



		</div>

	</div>
	</div>
      <p>&nbsp;</p>
	<div class="form-group">
	  <label class="control-label col-md-3" for="account_number"><span class="require">*</span> Account Number</label>
	  <div class="col-md-6">
			{{form_widget(form.account_number, {'id' : 'account_number'})}}
			<div class="error-form">{{form_errors(form.account_number)}}</div>
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-md-3" for="account_name"><span class="require">*</span> Account Name</label>
	  <div class="col-md-6">
			{{form_widget(form.account_name, {'id' : 'account_name'})}}
			<div class="error-form">{{form_errors(form.account_name)}}</div>
	  </div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3" for="title_en"><span class="require">*</span> Bank</label>
		<div class="col-md-6">
			{#
			<div class="input-group">
	      {{form_widget(form.title, {'id' : 'title_en'})}}
	      <span class="input-group-addon">EN</span>
	    </div>
			<div class="error-form">{{form_errors(form.title_en)}}</div>
			<br/>
			#}

			<!-- <div class="input-group"> -->
	      {{form_widget(form.title, {'id' : 'title'})}}
	      <!-- <span class="input-group-addon">TH</span> -->
	    <!-- </div> -->
			<div class="error-form">{{form_errors(form.title)}}</div>
		</div>
	</div>

	<div class="form-group">
	  <label class="control-label col-md-3" for="branch_en"><span class="require">*</span> Branch</label>
	  <div class="col-md-6">
			{#
			<div class="input-group">
	      {{form_widget(form.branch_en, {'id' : 'branch_en'})}}
	      <span class="input-group-addon">EN</span>
	    </div>
	    <div class="error-form">{{form_errors(form.branch_en)}}</div>
	    <br/>
			#}

	    <!-- <div class="input-group"> -->
	      {{form_widget(form.branch, {'id' : 'branch'})}}
	      <!-- <span class="input-group-addon">TH</span> -->
	    <!-- </div> -->
	    <div class="error-form">{{form_errors(form.branch)}}</div>
	  </div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3" for="status"> Status</label>
		<div class="col-md-6 form-control-static">
			{{form_widget(form.status, {'id' : 'status'})}}
			<div class="error-form">{{form_errors(form.status)}}</div>
		</div>
	</div>

</div>

<div class="box-footer">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			{{form_widget(form.save_and_edit, {'id' : 'save_and_edit', 'label': 'Save and Edit'})}}
      {{form_widget(form.save_and_add, {'id' : 'save_and_add', 'label': btn_label_save_add})}}
			{{form_widget(form.save, {'id' : 'save', 'label': 'Save'})}}
			<a href="{%if app.session.get('back_to_url')['admin_bank_account'] is defined%}{{app.session.get('back_to_url')['admin_bank_account']}}{%else%}{{path('admin_bank_account')}}{%endif%}" class="btn btn-default">Close </a>
		</div>
	</div>
</div>
