
<!--Form Column-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <!--Totals Table-->
    <ul class="totals-table">

        {% if is_granted('ROLE_CLIENT') %}
            <li class="clearfix">
                <span class="col col-title">Cart Subtotal</span>
                <span class="col"><i class="fa fa-minus" style="font-size:8px;"></i></span>
            </li>
            <li class="clearfix">
                <span class="col col-title">Shipping and Handling</span>
                <span class="col"><i class="fa fa-minus" style="font-size:8px;"></i></span>
            </li>
            <li class="clearfix">
                <span class="col col-title">Order Total</span>
                <span class="col"><i class="fa fa-minus" style="font-size:8px;"></i></span>
            </li>
        {% else %}
            <!-- Customer -->
            <li class="clearfix">
                <span class="col col-title">Cart Subtotal</span>
                <span class="col" ng-show="arr_cart_data.summary.sub_total">
                    ฿{{'{{arr_cart_data.summary.sub_total| currency:"":2}}'}}
                </span>
            </li>

            {% if discount_setting_status %}
                <!-- Coupon -->
                <li class="clearfix" ng-if="!arr_cart_data.summary.discount_code">
                    <span class="col" style="width: 100%;">
                        <div class="clearfix" ng-cloak>
                            <form method="post" enctype="multipart/form-data">
                                {{form_widget(coupon_form._token)}}
                                <div class="input-group">
                                  <input type="text" ng-model="frm_discount.code" name="code" class="form-control"placeholder="Enter Coupon Code">
                                  <span class="input-group-btn">
                                  <button ng-click="applyDiscountCode()" type="button" class="btn btn-marathon">Apply</button>
                                  </span>
                                </div>

                                <div ng-hide="arr_result_discount.status">
                                    <div class="err-message">{{'{{arr_result_discount.error_message}}'}}</div>
                                </div>
                            </form>
                        </div>
                    </span>
                </li>
                <li ng-if="arr_cart_data.summary.discount_code" class="clearfix">
                    <span class="col col-title">
                        Coupon "{{'{{arr_cart_data.summary.discount_code}}'}}"
                        <a href="javascript:void(0)" ng-click="removeDiscountCode()">Remove</a>
                    </span>
                    <span class="col">- ฿{{'{{arr_cart_data.summary.discount_amount| currency:"":2}}'}}</span>
                </li>
            {% endif %}

            <li class="clearfix">
                <span ng-if="arr_cart_data.summary.shipping_cost_by_distance<=0" class="col col-title">Shipping and Handling</span>
                <span ng-if="arr_cart_data.summary.shipping_cost_by_distance>0" class="col col-title">Delivery charge by distance</span>

                <span class="col" ng-show="arr_cart_data.summary.shipping_cost>0">
                    ฿{{'{{arr_cart_data.summary.shipping_cost| currency:"":2}}'}}
                </span>
                <span class="col" ng-show="arr_cart_data.summary.shipping_cost<=0">Free Shipping</span>
            </li>
            <li class="clearfix">
                <span class="col col-title">Order Total</span>
                <span class="col" ng-show="arr_cart_data.summary.total">
                    ฿{{'{{arr_cart_data.summary.total| currency:"":2}}'}}
                </span>
            </li>
            <li class="clearfix" ng-show="arr_cart_data.summary.total">
                <span class="col col-title">{% trans %}order.delivered.on{% endtrans %}</span>
                <span class="col">
                    {% if delivery_date %}
                        {{ delivery_date|date("d") }} {{ delivery_date|date("F")|trans }} {{ delivery_date|date("Y") }}
                    {% endif %}
                </span>
            </li>

        {% endif %}

        {#
        {% if is_granted('ROLE_CLIENT') %}
            <li class="clearfix">
                <span class="col-md-12" style="padding: 10px 15px;">
                * ราคาที่แสดงเป็นราคาสำหรับลูกค้าทั่วไป
                </span>
            </li>
        {% endif %}
        #}
    </ul>

</div>
<script type="text/javascript">
    $('#rbank-payment').on('click', function(){
        $(this).parent().find('a').trigger('click')
    });
    $('#rcredit-payment').on('click', function(){
        $(this).parent().find('a').trigger('click')
    });
</script>
