
<!--Form Column-->

<form id="first_delivery_address" ng-submit="submitCreateFirstDeliveryAddressForm({{first_delivery_form.countryCode.vars.choices[1].value}})">
    {{form_widget(first_delivery_form._token, {'id':'delivery_address__token'})}}
    <div class="default-form billing-info-form">
        <div class="clearfix">
            {#
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.address.title{% endtrans %} <span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.title, {'id' : 'title', 'attr':{'ng-model':'frm_first_delivery.title'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.title" ng-bind="frm_first_delivery_error.title"></div>
            </div>
            #}

            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label" for="map">{% trans %}find_address{% endtrans %}</label>
                    <div class="col-sm-9">
                        <div id="floating-panel" class="input-group">
                          <input id="geocode-address" type="textbox" value="" class="form-control">
                          <span class="input-group-btn">
                              <input id="submit-map" type="button" class="btn btn-default" value="{% trans %}search{% endtrans %}">
                          </span>
                          <span class="input-group-btn">
                              <button id="get-current-location" type="button" class="btn btn-default" value="">
                                 <svg class="current-location" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                     <path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
                                 </svg>
                              </button>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>&nbsp;</div>
                    <div id="map-canvas" style="width:100%;height:350px;"></div>
                </div>
            </div>

            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}latitude{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.latitude, {'id' : 'latitude', 'attr':{'ng-model':'frm_first_delivery.latitude'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.latitude" ng-bind="frm_first_delivery_error.latitude"></div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}longitude{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.longitude, {'id' : 'longitude', 'attr':{'ng-model':'frm_first_delivery.longitude'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.longitude" ng-bind="frm_first_delivery_error.longitude"></div>
            </div>

            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.personal.fname{% endtrans %} <span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.first_name, {'id' : 'first_name', 'attr':{'ng-model':'frm_first_delivery.first_name'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.first_name" ng-bind="frm_first_delivery_error.first_name"></div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.personal.lname{% endtrans %} <span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.last_name, {'id' : 'last_name', 'attr':{'ng-model':'frm_first_delivery.last_name'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.last_name" ng-bind="frm_first_delivery_error.last_name"></div>
            </div>

            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.personal.company_name{% endtrans %} </div>
                {{form_widget(first_delivery_form.company_name, {'id' : 'company_name', 'attr':{'ng-model':'frm_first_delivery.company_name'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.company_name" ng-bind="frm_first_delivery_error.company_name"></div>
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                <div class="field-label">{% trans %}member.address{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.address, {'id' : 'address', 'attr':{'ng-model':'frm_first_delivery.address'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.address" ng-bind="frm_first_delivery_error.address"></div>
            </div>

            <div class="hidden form-group col-md-4 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}PlaceId{% endtrans %}</div>
                {{form_widget(first_delivery_form.placeId, {'id' : 'placeId', 'attr':{'ng-model':'frm_first_delivery.placeId'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.placeId" ng-bind="frm_first_delivery_error.placeId"></div>
            </div>

            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.subDistrict{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.district, {'id' : 'district', 'attr':{'ng-model':'frm_first_delivery.district', 'autocomplete':'off'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.district" ng-bind="frm_first_delivery_error.district"></div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.amphure{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.amphure, {'id' : 'amphure', 'attr':{'ng-model':'frm_first_delivery.amphure', 'autocomplete':'off'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.amphure" ng-bind="frm_first_delivery_error.amphure"></div>
            </div>

            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.province{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.province, {'id' : 'province', 'attr':{'ng-model':'frm_first_delivery.province', 'autocomplete':'off'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.province" ng-bind="frm_first_delivery_error.province"></div>
            </div>

            <div class="hidden form-group col-md-4 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.country{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.countryCode, {'id' : 'countryCode', 'attr':{'ng-model':'frm_first_delivery.countryCode','class':'form-control'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.countryCode" ng-bind="frm_first_delivery_error.countryCode"></div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.postcode{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.postcode, {'id' : 'postcode', 'attr':{'ng-model':'frm_first_delivery.postcode', 'autocomplete':'off'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.postcode" ng-bind="frm_first_delivery_error.postcode"></div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.personal.phone{% endtrans %}<span class="red-text"> *</span></div>
                {{form_widget(first_delivery_form.phone, {'id' : 'phone', 'attr':{'ng-model':'frm_first_delivery.phone'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.phone" ng-bind="frm_first_delivery_error.phone"></div>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="field-label">{% trans %}member.taxpayerid{% endtrans %}
                    {#
                    {% if is_granted('ROLE_CUSTOMER') %}
                        <span class="red-text"> *</span>
                    {% endif %}
                    #}
                </div>
                {{form_widget(first_delivery_form.taxpayer_id, {'id' : 'taxpayer_id', 'attr':{'ng-model':'frm_first_delivery.taxpayer_id'}})}}
                <div class="text-error" ng-show="frm_first_delivery_error.taxpayer_id" ng-bind="frm_first_delivery_error.taxpayer_id"></div>
            </div>

            <div class="text-right">
                <button type="button" ng-click="submitCreateFirstDeliveryAddressForm({{first_delivery_form.countryCode.vars.choices[1].value}})" class="thm-btn thm-blue-bg">{% trans %}member.button.save{% endtrans %}</button>
            </div>
        </div>
    </div>
</form>
