{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{% trans %}checkout.title{% endtrans %} | {{ parent() }}{% endblock %}
{% block checkout_active %}active{% endblock %}
{% block m_checkout_active %}active{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('jquery.ThaiAddress.En-Th.js/css/jquery.ThaiAddress.En-Th.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{asset('javascripts/geolocation.js')}}"></script>
	<script src="{{asset('javascripts/geolocation_modal.js')}}"></script>
{% endblock %}

{% block breadcrumb_title1 %}{% trans %}checkout.title{% endtrans %}{% endblock %}

{% block breadcrumb_sub %}
    {{ parent() }}
    <li class="active">{% trans %}checkout.title{% endtrans %}</li>
{% endblock %}

{% block content %}
{### main cart controller ###}
<section ng-app="cartApp" ng-controller="cartCtrl" ng-init="init({% if is_granted('ROLE_CLIENT') %}true{% else %}false{% endif %})" class="checkout-section section-padding cart-section">

{#
{{'{{message_one}}'}}<br/>
<a href="javascript:void(0)" ng-click="broadcastEvent()">Broadcast message</a>
#}


    {% for flashMessage in app.session.flashbag.get('inventory_errors') %}
        <div class="container alert alert-danger alert-dismissible">
            <div class="text-center">
                <i class="fa fa-2x fa-exclamation-circle"></i>
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}


    <div class="container" ng-cloak>
        <div class="clearfix">
            <div class="col-md-7 col-sm-7 col-xs-12 column form-column">


                <!-- old.delivery_controller  -->
                <div ng-controller="deliveryAddressCtrl" ng-init="delivery_init('{{first_delivery_form.vars.value.firstName}}', '{{first_delivery_form.vars.value.lastName}}', '{{first_delivery_form.vars.value.companyName}}', '{{first_delivery_form.vars.value.phone}}')" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-left">
                        <h1><span>{% trans %}member.delivery.address{% endtrans %}</span></h1>
                    </div>

{#
{{'{{message_two}}'}}<br/>
<a href="javascript:void(0)" ng-click="emitEvent()">Emit message</a>
#}

                    <div ng-show="shipping_address.id">
                        <div>
                            <div>
                                {% trans %}member.shipping.address{% endtrans %}
                                <a href="javascript:void(0)" id="selectShippingAddress" ng-click="selectShippingAddress()">Edit</a>
                            </div>
                            <div ng-show="shipping_address.id">
                                <b>{{'{{shipping_address.firstName}}'}} {{'{{shipping_address.lastName}}'}} </b><br/>
                                <p>
                                    <span ng-show="shipping_address.companyName">{{'{{shipping_address.companyName}}'}}<br/></span>
                                    {{'{{shipping_address.address}}'}}, {{'{{shipping_address.district}}'}}, {{'{{shipping_address.amphure}}'}},
                                    {{'{{shipping_address.province}}'}} {#, <span ng-show="shipping_address.countryCode"> {{'{{shipping_address.countryCode.country}}'}} </span>#}
                                    {{'{{shipping_address.postCode}}'}}<br />
                                    {{'{{shipping_address.phone}}'}}
                                    <span ng-show="billing_address.id == shipping_address.id && shipping_address.taxPayerId"><br/> {% trans %}member.taxpayerid{% endtrans %} {{'{{shipping_address.taxPayerId}}'}} </span>
                                </p>

								{% if is_granted('ROLE_CUSTOMER') %}
									<p ng-if="arr_cart_data.summary.direction.distance">
										Shipping distance is {{'{{arr_cart_data.summary.direction.distance_text}}'}} from {{'{{arr_cart_data.summary.direction.origin_showroom_name}}'}}
									</p>
								{% endif %}
                            </div>
                        </div>
                        <div>
                            <div>
                                {% trans %}member.billing.address{% endtrans %}<span ng-show="billing_address.id && billing_address.id == shipping_address.id">{% trans %}member.billing.same_address{% endtrans %}</span>
                                <a href="javascript:void(0)" id="selectBillingAddress" ng-click="selectBillingAddress()">Edit</a>
                            </div>

                            <div ng-show="billing_address.id && billing_address.id != shipping_address.id">
                                <b> {{'{{billing_address.firstName}}'}} {{'{{billing_address.lastName}}'}} </b><br/>
                                <p>
                                    <span ng-show="billing_address.companyName">{{'{{billing_address.companyName}}'}}<br/></span>
                                    {{'{{billing_address.address}}'}}, {{'{{billing_address.district}}'}}, {{'{{billing_address.amphure}}'}},
                                    {{'{{billing_address.province}}'}} {#, <span ng-show="billing_address.countryCode"> {{'{{billing_address.countryCode.country}}'}} </span>#}
                                    {{'{{billing_address.postCode}}'}}<br />
                                    {{'{{billing_address.phone}}'}}
                                    <span ng-show="billing_address.taxPayerId"><br/> {% trans %}member.taxpayerid{% endtrans %} {{'{{billing_address.taxPayerId}}'}} </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="!shipping_address.id">
                        {% include "ProjectBundle:"~ view_checkout ~":_form_address_billing_shipping.html.twig"%}
                    </div>


                    {# modal include #}
                    {% include "ProjectBundle:"~ view_checkout ~":_modal_list_address_billing.html.twig"%}
                    {% include "ProjectBundle:"~ view_checkout ~":_modal_list_address_form.html.twig"%}

                </div>

{#
{{dump('{{arr_cart_data.delivery_information.shipping_address}}')}}
{{dump('{{arr_cart_data.delivery_information.billing_address}}')}}
#}

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-left">
                        <!-- <h1><span>Products</span></h1> -->
                    </div>
                    {% include "ProjectBundle:"~ view_checkout ~":_product_totals.html.twig"%}
                </div>
            </div>{# end main 1#}

            <div class="col-md-5 col-sm-5 col-xs-12 column default-column cart-total">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-left">
                        <h1><span>{% trans %}cart.total{% endtrans %}</span></h1>
                    </div>
                    {% include "ProjectBundle:"~ view_checkout ~":_cart_totals.html.twig"%}
                </div>


                {### payment controller ###}
                <div ng-controller="paymentCtrl" ng-init="payment_init('')" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-left payment-options">
                        <h1><span>
                            {% if is_granted('ROLE_CUSTOMER') %}
                                {% trans %}payment.method.title{% endtrans %}
                            {% endif %}
                            {% if is_granted('ROLE_CLIENT') %}
                                Purchase Quotation
                            {% endif %}
                        </span></h1>
                    </div>

                    {% include "ProjectBundle:"~ view_checkout ~":_payment_method.html.twig"%}

                </div>


            </div>{# end main 2#}
        </div>{# end clearfix #}
    </div>{# end div container #}
</section>
{% endblock %}


{% block javascripts_body %}
{{ parent() }}
<script>
    window.cart_data = {{arr_cart_data|json_encode|raw}};
    window.delivery_address = {{delivery_address|json_encode|raw}};
</script>
<script src="{{ asset('javascripts/base_product.js') }}"></script>
<!-- Modules -->
<script src="{{asset('javascripts/cartApp/app.js')}}"></script>
<!-- Controllers -->
<script src="{{asset('javascripts/cartApp/controllers/cart_controller.js')}}"></script>
<script src="{{asset('javascripts/cartApp/controllers/delivery_address_controller.js')}}"></script>
<script src="{{asset('javascripts/cartApp/controllers/payment_controller.js')}}"></script>

<!-- jquery.Thailand -->
<script src="{{asset('jquery.Thailand.js/dependencies/JQL.min.js')}}"></script>
<script src="{{asset('jquery.Thailand.js/dependencies/typeahead.bundle.js')}}"></script>
<script src="{{asset('jquery.ThaiAddress.En-Th.js/js/jquery.ThaiAddress.En-Th.js')}}"></script>
<script>
	$(function() {
		//first delivery address
        initJueryThailandEnTh('{{asset('jquery.ThaiAddress.En-Th.js/js/thai_address_database_en_th.js')}}','{{app.request.locale|upper}}','first_delivery_address', 'district', 'amphure', 'province', 'postcode');

		//modal delivery address
		initJueryThailandEnTh('{{asset('jquery.ThaiAddress.En-Th.js/js/thai_address_database_en_th.js')}}','{{app.request.locale|upper}}','delivery_address_form', 'modal_district', 'modal_amphure', 'modal_province', 'modal_postcode');
	});
</script>
{% endblock %}
