{#{% trans_default_domain 'FOSUserBundle' %}#}

<section class="checkout-section section-padding cart-section section-fos-regis">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="section-title">
                    <h1>{% trans %}member.personal.register{% endtrans %}</h1>
                </div>

                <div class="default-form billing-info-form">
                    <form action="{{path('fos_user_registration_register')}}" method="post" id="customer_register_form" name="customer_register_form" enctype="multipart/form-data" novalidate>
                        {{form_widget(form._token)}}

                        <div class="form-group">
                            <label for="first_name">{% trans %}member.personal.fname{% endtrans %} <span class="red-text"> *</span></label>
                            {{form_widget(form.first_name, {'id' : 'first_name', 'attr': {'class': ''} })}}
                            <div class="red-text">{{form_errors(form.first_name)}}</div>
                        </div>

                        <div class="form-group">
                            <label for="last_name">{% trans %}member.personal.lname{% endtrans %} <span class="red-text"> *</span></label>
                            {{form_widget(form.last_name, {'id' : 'last_name', 'attr': {'class': ''} })}}
                            <div class="red-text">{{form_errors(form.last_name)}}</div>
                        </div>

                        <div class="form-group">
                            <label for="email">{% trans %}member.personal.email{% endtrans %} <span class="red-text"> *</span></label>
                            {{form_widget(form.email, {'id' : 'email', 'attr': {'class': ''}  })}}
                            <div class="red-text">{{form_errors(form.email)}}</div>
                        </div>

                        <div class="form-group">
                            <label for="password">{% trans %}member.password{% endtrans %} <span class="red-text"> *</span></label>
                            {{form_widget(form.plainPassword,{'id' : 'password', 'attr': {'class': 'form-control'} })}}
                            <div class="red-text">{{form_errors(form.plainPassword)}}</div>
                        </div>

                        {#
                        <!-- disable the repeated password -->
                        <div class="form-group">
                            <label for="password">{% trans %}member.password{% endtrans %} <span class="red-text"> *</span></label>
                            {{form_widget(form.plainPassword.first,{'id' : 'password', 'attr': {'class': ''} })}}
                            <div class="red-text">{{form_errors(form.plainPassword.first)}}</div>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">{% trans %}member.password.confirm{% endtrans %} <span class="red-text"> *</span></label>
                            {{form_widget(form.plainPassword.second,{'id' : 'confirm-password', 'attr': {'class': ''} })}}
                            <div class="red-text">{{form_errors(form.plainPassword.second)}}</div>
                        </div>
                        #}


                        <div class="form-group ">
                            <label for="gender">{% trans %}member.personal.gender{% endtrans %} </label>
                            {{form_widget(form.gender, {'id' : 'gender', 'attr': {'class': 'radio-inline'}})}}
                            <div class="red-text clear-both">{{form_errors(form.gender)}}</div>
                        </div>

                        <div class="form-group clear-both">
                            <label for="birth_date">{% trans %}member.personal.birth_date{% endtrans %} </label>
                            <div class="row row-5">
                                {% for birth_date in form.birth_date %}
                                <div class="col-xs-4 col">
                                    {{ form_errors(birth_date) }}
                                    {{ form_widget(birth_date, {'attr': {'class': 'selectpicker'}}) }}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="red-text">{{form_errors(form.birth_date)}}</div>
                        </div>

                        <div class="form-group">
                            <label for="phone_number">{% trans %}member.personal.phone{% endtrans %} </label>
                            {{form_widget(form.phone_number, {'id' : 'phone_number', 'attr': {'class': ''} })}}
                            <div class="red-text">{{form_errors(form.phone_number)}}</div>
                        </div>

                        <div class="form-group">
                            {{form_widget(form.save,{'id':'save','label':'member.personal.register'|trans,'attr':{'class':'thm-btn'}})}}
                        </div>

                    </form>
                </div>

            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6 col-xs-12">
                <div class="section-title">
                    <h1>&nbsp;</h1>
                </div>
                <!-- /.section-title -->
                <h4 class="text-center">Are you already customer?</h4>
                <p class="text-center">Start your shopping with Marathon</p>
                <div class="text-center button">
                    <a href="{{path('fos_user_security_login')}}" class="thm-btn arrow-push-out-right"><span>{% trans %}menu.login{% endtrans %} <i class="fa fa-caret-right"></i></span></a>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
