{% if banners|length > 0 %}

<section id="banner">
    <div class="container">

    {% for banner in banners %}
        <a class="item {% if loop.index0 == 0 %}active{% endif %}" {% if banner.website %}href="{{banner.website}}"{% endif %}>
            <img src="{{asset(banner.image) | imagine_filter('img_w_480') }}" bh-src-responsive="[ [ 'default', '{{asset(banner.image) | imagine_filter('img_w_480') }}' ], [ 'small', '{{asset(banner.image) | imagine_filter('img_w_480') }}' ], [ 'medium', '{{asset(banner.image) | imagine_filter('img_w_1000') }}' ], [ 'large', '{{asset(banner.image) | imagine_filter('img_w_1300') }}' ] ]" />
        </a>
    {% endfor %}

    </div>
</section>

<script src="{{asset('javascripts/angular-responsive-images.js')}}"></script>
<script>
    var app = angular.module('bannerApp', ['bhResponsiveImages']);
</script>

{% endif %}
