{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{{data.getTitle}} | {{ parent() }}{% endblock %}
{% block about_us_active %}active{% endblock %}
{% block m_about_us_active %}active{% endblock %}

{% block breadcrumb_title1 %}{{data.getTitle}}{% endblock %}

{% block breadcrumb_sub %}
    {{ parent() }}
    <li class="active">{{data.getTitle}}</li>
{% endblock %}

{% block content %}
    <section class="fitness-video-area section-padding">
        <div class="container">
            {{data.getContent|raw}}
            {#
            <div class="right-text">
                <div class="about-img-left">
                    <img src="/images/marathon/about/about-01.jpg" alt="About us" class="img-responsive" />
                </div>

                <h3>บริษัท มาราธอน ( ประเทศไทย) จำกัด</h3>
                <p class="highlighted">
                    เป็นบริษัทที่อยู่ในธุรกิจกีฬามาเป็นเวลาเกือบ 30 ปี  บริษัทฯ ประกอบธุรกิจผลิตและจำหน่ายอุปกรณ์กีฬาที่ครบวงจรที่สุดแห่งหนึ่งในประเทศ ไทย  อีกทั้งยังเป็นตัวแทนจำหน่ายอุปกรณ์ฟิตเนสชั้นนำและคุณภาพสูงจากต่างประเทศ เช่น อเมริกา, ฟินแลนด์, ญี่ปุ่น และไต้หวัน  นอกจากนี้ ยังเป็นผู้จำหน่ายอุปกรณ์ Fitness Test เพื่อใช้ทดสอบสมรรถภาพทางร่างกาย อีกด้วย
                </p>
                <p>
                    บริษัท มาราธอน ได้เล็งเห็นถึงคุณภาพชีวิตของคนไทยในการมีสุขภาพที่แข็งแรง จากการออกกำลังกายอย่างถูกวิธีด้วยอุปกรณ์ที่ทันสมัยได้มาตรฐานเป็นที่ยอม รับในระดับสากล อีกทั้งยังเป็นการสนองนโยบายของภาครัฐ ในการส่งเสริมให้คนไทยมีสุขภาพแข็งแรง ตาม " ยุทธศาสตร์การออกกำลังกายแห่งชาติ " ซึ่งมีหน่วยงานต่าง ๆ ทั้งภาครัฐและเอกชนที่ให้ความไว้วางใจในการใช้อุปกรณ์ของบริษัท ฯ ผลิตภัณฑ์จากบริษัทฯ ได้รับความยอมรับอย่างแพร่หลายจากวงการกีฬาว่ามีมาตรฐาน ตรงตามกติกาสากล ผลิตภัณฑ์ของบริษัทจึงสามารถส่งออกไปจำหน่ายในต่างประเทศหลายประเทศ เช่น ในโซน อเมริกา ยุโรป และแถบภูมิภาคเอเชียเองด้วย เราเน้นการพัฒนาสินค้า โดยลดจุดด้อยของสินค้าเดิม โดยเริ่มจากการสำรวจตลาด จากนั้นจึงทำวิจัยและพัฒนาอย่างต่อเนื่องจนมั่นใจว่าสินค้าดังกล่าวสามารถ ตอบสนองความต้องการของผู้บริโภคได้อย่างแท้จริง รวมถึงมีการคิดค้นรูปแบบหรือสรรหาวัตถุดิบใหม่ๆ มาสร้างสรรค์ผลิตภัณฑ์ใหม่สู่ท้องตลาดอย่างต่อเนื่อง อาทิ
                </p>
                <p>
                    <b>ลูกตะกร้อใยสังเคราะห์ “มาราธอน”</b> ซึ่งเป็นการคิดค้น พัฒนาขึ้นเป็นรายแรกของโลก จากแรงบันดาลใจ 2 ประการ คือ ประการแรก จากการที่ได้พบกับนักตะกร้ออาวุโสกลุ่มหนึ่ง ซึ่งได้คลุกคลีกับวงการตะกร้อมากว่า 30 ปี และต้องการเห็นตะกร้อหวายได้รับการพัฒนา เนื่องจากหวายเป็นวัตถุที่นับวันจะหายากขึ้นเรื่อยๆ คุณสมบัติของตะกร้อหวายเองก็ได้สร้างความยุ่งยากและสิ้นเปลืองแก่ผู้เล่น ค่อนข้างมากผู้ที่ต้องการเล่นเข็ดขยาดกับความเจ็บ จนเลิกเล่นไปจำนวนไม่น้อย  ทำให้ตะกร้อไม่เป็นที่นิยมแพร่หลายเท่าที่ควร ประการที่สอง จากการที่เห็นว่าสินค้าอื่นๆล้วนได้รับการพัฒนาคุณภาพด้วยการใช้วัสดุใย สังเคราะห์ เช่น ไม้แบดมินตัน ไม้เทนนิส มีการพัฒนาจากไม้ธรรมชาติมาเป็น Carbon Fiber และลูกฟุตบอลก็ได้มีการพัฒนาใช้หนังเทียมสังเคราะห์แทนหนังสัตว์ เป็นต้น  ปัจจุบัน ลูกตะกร้อใยสังเคราะห์ ”มาราธอน” ยังไม่หยุดนิ่งในการพัฒนา มาจนเป็น“ตะกร้อพลาสติกชนิดผิวนุ่ม” ที่คิดค้นพัฒนาจนได้รับการคัดเลือกเป็น 1 ใน “10 สุดยอดธุรกิจนวัตกรรมไทย 2549
                </p>
                <p>
                    ยังไม่หยุดนิ่ง ในการพัฒนา มาจนเป็น“ตะกร้อพลาสติกชนิดผิวนุ่ม” ที่คิดค้นพัฒนาจนได้รับการคัดเลือกเป็น 1 ใน “10 สุดยอดธุรกิจนวัตกรรมไทย 2549”
                </p>
                <p>
                    “ตะกร้อพลาสติกผิวนุ่ม” เป็นการใช้เทคโนโลยีด้านวิทยาศาสตร์ ในกระบวนการยึดติดระหว่างเส้นฐานที่เป็นพลาสติก และผิวนุ่มที่เป็นยางประเภทเทอร์โมพลาสติกอีลาสโตเมอร์ ที่มีคุณสมบัติอ่อนนุ่มเหมือนยาง และสามารถขึ้นรูปได้แหมือนพลาสติกมาประกอบเป็นลูกตะกร้อที่ได้มาตรฐานใน กติกาการเล่นกีฬาตะกร้อ ใช้เวลาคิดค้น และลองผิด ลองถูกมานานถึง 10 ปี ความยากของมันอยู่ตรงที่ทำอย่างไรให้เล่นไม่เจ็บ เพราะปัญหาของการเล่นตะกร้อคือ เล่นแล้วเจ็บ โดยเฉพาะผู้หญิงจะเข็ดขยาดลูกตะกร้อพอสมควร ทำให้ผู้หญิงไม่นิยมเล่นตะกร้อ และโจทย์ที่ยากอีกข้อที่ทำให้ใช้เวลานานกว่าจะมาเป็น “ตะกร้อ ผิวนุ่ม” ที่เห็นอยู่นี้ คือ น้ำหนักของลูก และเส้นผ่านศูนย์กลางต้องได้มาตรฐานด้วย วันนี้ทางบริษัทฯยินดีมากกับสิ่งที่ได้พยายามคิดค้นมาเป็นเวลานับสิบปี ประสบความสำเร็จเป็นที่ยอมรับในระดับประเทศ และจะผลักดันต่อไปให้เป็นที่ยอมรับสู่ระดับสากล เพราะที่ผ่านมาตะกร้อพลาสติกในรุ่นอื่นๆ ของเราก็เป็นที่ยอมรับในการแข่งขันระดับโลกอยู่แล้ว อีกทั้งยังเป็นการส่งเสริมกีฬาตะกร้อของไทย ให้แพร่หลายมากขึ้นในต่างปะเทศอีกด้วย
                </p>
                <p>
                    ผลิตภัณฑ์อีกชนิดหนึ่งที่เป็นความภาคภูมิใจของมาราธอน คือ <b>ลูกเปตอง</b> จากการที่กีฬาเปตองเป็นกีฬาที่เข้ามาเผยแพร่ในประเทศไทยเป็นเวลาช้านาน อีกทั้งเป็นกีฬาที่สร้างชื่อเสียงให้แก่ประเทศไทยไม่ว่าจะเป็นในการแข่งขัน ชิง แชมป์โลกหรือการแข่งขันนานาชาติแต่ยังไม่เป็นที่นิยมแพร่หลายในประเทศไทย เนื่องจากอุปกรณ์การเล่นเปตองแต่เดิมต้องนำเข้าจากต่างประเทศทำให้มีราคาแพง ดังนั้นบริษัทฯมาราธอนจึงได้รวบรวมความคิดที่จะนำเอาเทคโนโลยีสมัยใหม่มา ประดิษฐ์อุปกรณ์การเล่นเปตองให้มีราคาถูก น้ำหนักมาตรฐาน และไม่เป็นสนิม ซึ่งในที่สุดก็สามารถประดิษฐ์ลูกเปตอง พลาสตอง (Plustong) ได้สำเร็จ นับเป็นการลดภาระค่าใช้จ่ายสำหรับเยาวชน ประชาชน และผู้ที่สนใจกีฬาประเภทนี้ ซึ่งจะเป็นการเอื้ออำนวยให้มีการเล่นเปตองแพร่หลายยิ่งขึ้นในประเทศไทย เพื่อพื้นฐานของทีมชาติไทยในอนาคต
                </p>
                <div class="about-img-right">
                    <img src="/images/marathon/about/about-02.jpg" alt="About us" class="img-responsive" />
                </div>
                <p>
                    <b>Commercial Applications of the Innovations and the Benefits:</b><br />
                    การนำนวัตกรรมมาใช้ในเชิงพาณิชย์มีผลให้สินค้าเกิดความแตกต่างของสินค้า ซึ่งมีคุณภาพสูงและมีคุณลักษณะเฉพาะ ทำให้ยากต่อการเลียนแบบ Marathon (Thailand) Co., Ltd. จึง สามารถก้าวขึ้นเป็นผู้นำในตลาดและครอบครองส่วนแบ่งการตลาดสูงสุดได้ อย่างไรก็ตาม บริษัทฯ ไม่เคยหยุดนิ่งในการพัฒนา โดยยังคงมีการวิจัยอย่างต่อเนื่องพร้อมทั้งคิดค้นเทคโนโลยีสมัยใหม่มาออกแบบ และผลิตอุปกรณ์กีฬาอย่างต่อเนื่องและจริงจัง
                </p>
                <p>
                    <b>Reference Customers:</b> ร้านค้าอุปกรณ์ฟิตเนสและอุปกรณ์กีฬาทั่วไป, หน่วยงานราชการ,โรงพยาบาล,โครงการหมู่บ้าน-คอนโด <br />
                    Potential Customers: ประเทศไทย,ภูมิภาคเอเชีย<br />
                    Existing Markets: ยุโรป, อเมริกา
                </p>
                <p>
                    <b>Marathon (Thailand) Co., Ltd</b><br />
                    Pinklao 149, Baromrat-Chonnanee Rd.,Arun Amarin, Bangkoknoi, Bangkok 10700<br />
                    Tel: +66 (0) 2433 7992-4, +66 (0) 2434 0500-6<br />
                    Fax: +66 (0) 2433 3722-6<br />
                    Website: www.marathon.co.th<br />
                </p><br />
            </div>
            #}
        </div>
    </section>

    <section class="perfect-plan-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-3">
                    <div class="perfect-plan-left">
                        <div class="img-holder">
                            <img src="{{asset('images/marathon/banner/banner-600x600.jpg')}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-9">
                    <div class="perfect-plan-right">
                        <h2>Plan your Daily training & workouts </h2>
                        <span>It would be perfect to do with your family, friends, co-workers anyone who I have started gym at home.</span>
                        <ul>
                            <li class="clear-both"><i class="fa fa-check"></i>สร้างยิมเองได้ที่บ้านคุณ</li>
                            <li class="clear-both"><i class="fa fa-check"></i>มีบริการจัดส่ง</li>
                            <li class="clear-both"><i class="fa fa-check"></i>รับประกันสินค้าพร้อมบริการหลังการขาย</li>
                        </ul>
                        <p>
                            <a href="{{path('showroom')}}" class="thm-btn">Shop Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
