{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{% trans %}menu.event.category{% endtrans %}{% endblock %}
{% block health_tip_active %}active{% endblock %}
{% block m_health_tip_active %}active{% endblock %}

{% block breadcrumb_title1 %}{% trans %}menu.event.category{% endtrans %}{% endblock %}

{% block breadcrumb_sub %}
    {{ parent() }}
    <li><a href="{{path('homepage')}}#event-cat">{% trans %}menu.event.category{% endtrans %}</a></li>
    <li class="active">{{eventCategory.getTitle}}</li>
{% endblock %}

{% block content %}

    <section class="section-padding has-dynamic-divider blog-v2" data-count-element="3">
        <div class="container">
            <div class="row">
                {% for data in paginated.currentpageresults %}
                {#{{dump(data)}}#}
                <div class="col-md-4 dynamic-divider-element ">
                    <div class="single-blog-post">
                        <div class="img-holder">
                            {% if data.image %}
                                <img src="{{asset(data.image) | imagine_filter('img_370x246')}}" alt="{{data.getTitle}}" />
                            {% else %}
                                <img src="//placehold.it/370x246" alt="{{data.getTitle}}">
                                {# <img src="/template/img/blog-post/page-1.jpg" alt="{{data.getTitle}}"> #}
                            {% endif %}
                            <div class="overlay">
                                <ul>
                                    <li><a href="{{path('event_detail',{'id':data.id,'slug':data.getTitle|slug})}}"><i class="fa fa-link"></i></a></li>
                                    <li><a href="{{asset(data.image)}}" data-fancybox data-type="image" data-caption="{{data.getTitle}}" ><i class="fa fa-search-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="icon-holder">
                                <i class="fc-icon ftc-icon-dumbbell"></i>
                                <p>{{data.eventCategory.getTitle}}</p>
                            </div>
                        </div>
                        <div class="content">
                            <ul class="meta">
                                <li><a href="{{path('event_detail',{'id':data.id,'slug':data.getTitle|slug})}}"><i class="fa fa-calendar"></i>{{data.publicDate|date('d F Y')}}</a></li>
                            </ul>
                            <a href="{{path('event_detail',{'id':data.id,'slug':data.getTitle|slug})}}"><h3>{{data.getTitle}}</h3></a>
                            <p></p>
                            <a class="read-more arrow-push-in-right" href="{{path('event_detail',{'id':data.id,'slug':data.getTitle|slug})}}"><span>{% trans %}read.more{% endtrans %}<i class="fa fa-caret-right"></i></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="center">
    			{% if paginated.havetopaginate %}
    				{{pagerfanta(paginated,'twitter_bootstrap3_translated_template')}}
    			{% endif %}
    		</div>
        </div>
    </section>
{% endblock %}
