{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{{data.getTitle}} | {{ parent() }}{% endblock %}
{% block privacy_policy_active %}active{% endblock %}
{% block m_privacy_policy_active %}active{% endblock %}

{% block breadcrumb_title1 %}{{data.getTitle}}{% endblock %}

{% block breadcrumb_sub %}
    {{ parent() }}
    <li class="active">{{data.getTitle}}</li>
{% endblock %}

{% block content %}
    <section class="section-padding">
        <div class="container">
            {{data.getContent|raw}}
            {#
            <h2>นโยบายความเป็นส่วนตัว</h2>
            <ol class="sty-ol">
                <li>
                    ข้อมูลตามกฎหมาย<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เว็บไซต์นี้รวมถึงส่วนประกอบทั้งหมด เป็นของบริษัท มาราธอน (ประเทศไทย) จำกัด เลขทะเบียนนิติบุคคล 0105527021583 จัดตั้งขึ้นในประเทศไทย สำนักงานใหญ่ตั้งอยู่เลขที่ 149 ถนน บรมราชชนนี แขวงอรุณอัมรินทร์ เขตบางกอกน้อย กรุงเทพ 10700สามารถติดต่อได้ที่อีเมล์ siravit@marathonworldwide.comโทรศัพท์ (+66) 2433 7992 รวมไปถึงบริษัทในเครือ (รวมกันเรียกว่า “มาราธอน” หรือ “มาราธอน กรุ๊ป” หรือ “เรา”)
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โดยการเยี่ยมชมและใช้งานหน้าเว็บไซต์ใดๆที่นโยบายความเป็นส่วนตัวนี้ หรือ มีลิงค์นโยบายความเป็นส่วนตัวนี้ปรากฎอยู่ ถือว่าคุณยอมรับเงื่อนไขของนโยบายความเป็นส่วนตัวนี้แล้ว เราแนะนำให้คุณตรวจสอบนโยบายความเป็นส่วนตัวนี้อย่างละเอียดก่อนจะเข้าเยี่ยมชมเว็บไซต์หรือให้ข้อมูลแก่เรา ไม่ว่าแท้จริงหรือไม่ เกี่ยวกับบุคคลซื้อสามารถบ่งชี้จากข้อมูลนั้น หรือจากข้อมูลอื่นที่มาราธอนมีหรือสามารถเข้าถึงได้ ข้อมูลดังกล่าวอาจจะรวมถึงชื่อของท่าน อีเมล์แอดเดรส ที่อยู่สำหรับส่งใบเรียกเก็บเงิน ที่อยู่สำหรับส่งของ หมายเลขโทรศัพท์ และข้อมูลบัตรเครดิต (ซึ่งต่อไปนี้จะเรียกว่า “ข้อมูลส่วนตัว”)
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หากคุณต้องการยกเลิกนโยบายความเป็นส่วนตัวนี้ หรือ แก้ไข หรือ ลบส่วนส่วนหนึ่งของข้อมูลส่วนบุคคลของคุณที่อยู่ในความครอบครองของมาราธอน สามารถดำเนินการตามขั้นตอนในข้อ 5
                </li>
                <li>
                    การจัดเก็บข้อมูลส่วนบุคคล<br />
                    เราจะจัดเก็บข้อมูลส่วนบุคคลจากลูกค้าเท่านั้น โดยที่การจัดเก็บนี้อาจเกิดขึ้นในระหว่าง หรือ ก่อนที่ลูกค้าดำเนินการตามตัวอย่างต่อไปนี้:
                    <ol>
                        <li>
                            ลงทะเบียนเพื่อรับข้อมูลข่าวสาร
                        </li>
                        <li>
                            สร้างบัญชีมาราธอนบนเว็บไซต์
                        </li>
                        <li>
                            สั่งซื้อสินค้าจากเว็บไซต์
                        </li>
                        <li>
                            ให้ข้อเสนอแนะ หรือ คำติชมเกี่ยวกับสินค้าหรือบริการผ่านเว็บไซต์
                        </li>
                        <li>
                            เข้าร่วมในสื่อโซเชียลมิเดีย (Social Media) เช่น การเข้าร่วมผ่านเฟซบุ๊ค แฟนเพจ (Facebook page) และ/หรือ
                        </li>
                        <li>
                            เข้าร่วมในกิจกรรมการตลาดต่างๆที่จัดขึ้นโดยมาราธอน<br />
                        </li>
                    </ol>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;นอกเหนือจากข้อมูลส่วนบุคคลที่ให้แก่มาราธอน ข้อมูลดังกล่าวที่เกี่ยวกับคุณนั้นไม่ถือเป็นข้อมูลส่วนบุคคลอาจจะถูกจัดเก็บได้ มาราธอนอาจจัดเก็บข้อมูลดังกล่าวเพื่อใช้ในการพัฒนาเว็บไซต์ และบริการออนไลน์อื่นๆ ข้อมูลที่ไม่ใช่ข้อมูลส่วนบุคคลดังกล่าวอาจรวมถึงข้อมูล อันได้แก่ ไอพี แอดเดรส หรือ ประวัติการใช้อินเตอร์เน็ต บราวเซอร์, ข้อมูลอื่นใดที่เกี่ยวข้องกับการใช้เว็บไซต์, ข้อมูลการซื้อสินค้า, ความชื่นชอบ และข้อมูลอื่นๆที่เกี่ยวข้องกับไลฟ์สไตล์ของลูกค้า หรือ ความชื่นชอบ อันได้แก่ งานอดิเรก, ความสนใจ รวมถึงข้อมูลอื่นๆที่ไม่ใช่ข้อมูลส่วนบุคคล<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;มาราธอนอาจจะได้รับข้อมูลส่วนบุคคลของคุณจากแหล่งอื่น หากคุณได้ให้ความยินยอมในการเปิดเผยข้อมูลนั้น ในกรณีนี้จะรวมถึงข้อมูลที่มาจากแหล่งการค้าอื่นๆ เช่น ฐานข้อมูลสาธารณะ และ ตัวแทนจัดหาข้อมูลรวมถึง ข้อมูลจากบุคคลอื่นใด
                </li>
                <li>
                    ข้อกำหนดการใช้โปรแกรมคุกกี้<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;มาราธอนอาจใช้โปรแกรมการจัดเก็บข้อมูล เช่น คุกกี้ บนหน้าเว็บไซต์ เพื่อความเป็นส่วนตัวของลูกค้าเมื่อใช้บริการเว็บไซต์ และเพื่อช่วยวิเคราะห์การใช้งานเว็บไซต์และวัดประสิทธิภาพของการส่งเสริมการขาย<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โปรแกรมคุกกี้ (cookies) เป็นข้อมูลไฟล์ตัวอักษรขนาดเล็ก (โดยปกติจะมีเพียงตัวอักษรและตัวเลข) ที่จัดวางไว้บนหน่วยความจำของบราวเซอร์ของท่านหรือบนอุปกรณ์ของท่านเมื่อท่านเข้าชมเว็ปไซต์หรือเรียกดูข้อความ โปรแกรมนี้ช่วยให้เราจดจำอุปกรณ์หรือบราวเซอร์โดยจำเพาะได้ และช่วยให้เราสามารถจัดทำเนื้อหาให้เหมาะสมกับความสนใจส่วนบุคคลของท่านได้รวดเร็วขึ้น และช่วยให้การบริการและแพลตฟอร์มสะดวกสบายและเป็นประโยชน์ต่อท่านมากขึ้น<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เว็บไซต์ของเราอาจยินยอมให้บุคคลภายนอก เช่น ผู้ให้บริการเชิงวิเคราะห์ หรือ หุ้นส่วนทางธุรกิจ ดาวน์โหลดโปรแกรมคุกกี้ลงบนอุปกรณ์ของคุณ บุคคลภายนอกดังกล่าวนี้ อาจใช้โปรแกรมคุกกี้และเทคโนโลยีอื่นๆในการจัดเก็บข้อมูลที่ไม่ใช่ข้อมูลส่วนบุคคลเกี่ยวกับการกิจกรรมออนไลน์ขณะที่คุณใช้บริการเว็บไซต์ มาราธอนไม่สามารถเข้าถึง ควบคุม โปรแกรมคุกกี้ดังกล่าว หรือ โปรแกรมอื่นๆที่บุคคลภายนอกใช้ และวิธีปฏิบัติของบุคคลภายนอกดังกล่าวนี้ไม่รวมอยู่ในนโยบายความเป็นส่วนตัวนี้
                </li>
                <li>
                    การใช้ข้อมูลส่วนบุคคล
                    <ol>
                        <li>
                            การใช้ข้อมูลส่วนบุคคลของคุณ<br />
                            มาราธอนรวบรวมข้อมูลส่วนบุคคลจากลูกค้าและพนักงานปัจจุบันจากหลายเหตุผล วัตถุประสงค์ดังกล่าวนี้ รวมถึงแต่ไม่จำกัดเพียง;
                            <ol>
                                <li>
                                    การพัฒนาสินค้าและการใช้งานเว็บไซต์ของคุณ
                                </li>
                                <li>
                                    วิเคราะห์ประสิทธิภาพของสื่อโฆษณา การแข่งขัน และการส่งเสริมการขาย
                                </li>
                                <li>
                                    ปรับแต่งเว็บไซต์ตามความต้องการ รวมถึงการประเมินสถิติการเข้าเว็บไซต์ เช่น เวลาในการเยี่ยมชมร้านค้า ไม่ว่าคุณจะเคยเยี่ยมชมมาก่อนหรือไม่ รวมไปถึงสาขาที่คุณเยี่ยมชม
                                </li>
                                <li>
                                    ทำให้เว็บไซต์ใช้งานได้งานขึ้น และปรับเว็บไซต์และสินค้าให้เหมาะสมกับความสนใจและความต้องการของคุณ
                                </li>
                                <li>
                                    ทำการตลาดและสื่อสารกับคุณเกี่ยวกับสินค้าและบริการโดยมาราธอน
                                </li>
                                <li>
                                    ดำเนินการตามคำสั่งซื้อของคุณและจัดการบัญชีมาราธอนของคุณที่เกี่ยวข้องกับการใช้สินค้าและบริการของเรา
                                </li>
                                <li>
                                    ส่งข้อมูลสินค้า หรือ ตัวอย่างสินค้าตามที่คุณร้องขอ
                                </li>
                                <li>
                                    ตอบข้อเสนอแนะและข้อขัดข้องของคุณ
                                </li>
                                <li>
                                    พัฒนาคุณภาพสินค้าและบริการของเราตามข้อมูลและผลสำรวจทางการตลาด
                                </li>
                                <li>
                                    ให้ข้อมูลหรือประวัติใดๆของคุณที่เกี่ยวข้องกับมาราธอน
                                </li>
                                <li>
                                    แนะนำสินค้าและบริการ ที่เราเห็นว่าคุณอาจมีความสนใจ หรือ
                                </li>
                                <li>
                                    เพื่อเสนอให้คุณเข้าร่วมในการแข่งกันและรายการส่งเสริมการขาย
                                </li>
                            </ol>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในกรณีที่มาราธอนเก็บข้อมูลของคุณด้วยวัตถุประสงค์พิใดวัตถุประสงค์หนึ่ง เราจะเก็บข้อมูลของคุณจนกว่าจะได้ดำเนินการตามวัตถุประสงค์ดังกล่าวนั้นและจะไม่เก็บข้อมูลดังกล่าวหากบรรลุวัตถุประสงค์แล้ว เว้นแต่เราจำเป็นที่จะต้องดำเนินการด้วยเหตุผลตามกฎหมาย
                        </li>
                        <li>
                            การแบ่งปันข้อมูลส่วนบุคคลของคุณ<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โดยปกติ มาราธอนจะไม่เปิดเผยข้อมูลส่วนบุคคลต่อบุคคลภายนอกมาราธอน คุณสามารถสอบถามข้อมูลเกี่ยวกับมาราธอนเพิ่มเติมได้ที่ช่องทาง www.marathon.com และทางนโยบายการปกป้องข้อมูลส่วนตัวตามลิงค์ต่อไปนี้
                            <ol>
                                <li>
                                    อย่างไรก็ตาม มาราธอนอาจแบ่งปันข้อมูลส่วนบุคคลของคุณกับบุคคลภายนอกที่เชื่อถือได้ และบุคคลภายนอกดังกล่าวอาจอยู่ในประเทศไทยหรือต่างประเทศที่เป็น
                                    <ol>
                                        <li>
                                            ตัวแทนสื่อโฆษณา การตลาด หรือการส่งเสริมการขายที่ช่วยเราเพิ่และวิเคราะห์ประสิทธิภาพของสื่อโฆษณา การตลาด และการส่งเสริมการขาย;
                                        </li>
                                        <li>
                                            บุคคลภายนอกที่มีหน้าที่ส่งสินค้าหรือให้บริการคุณ เช่น การจัดส่งสินค้าหรือพัสดุตามที่คุณสั่งซื้อจากเว็บไซต์
                                        </li>
                                        <li>
                                            ผู้ใช้บังคับกฎหมาย หรือหน่วยงานราชการที่อำนาจร้องขอให้เปิดเผยข้อมูล;
                                        </li>
                                        <li>
                                            บุคคลภายนอกที่ส่งข้อมูลเกี่ยวกับสินค้าหรือบริการให้แก่คุณ เฉพาะในกรณีที่คุณให้ความยินยอม;
                                        </li>
                                        <li>
                                            บุคคลภายนอกผู้ซึ่งให้บริการ เช่น บริการดำเนินการเกี่ยวกับข้อมูล; หรือ
                                        </li>
                                        <li>
                                            ผู้วิเคราะห์เว็บไซต์ เช่น Google
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    มาราธอนอาจแบ่งปันข้อมูลส่วนบุคคลของคุณตามเหตุผลดังต่อไปนี้
                                    <ol>
                                        <li>
                                            ตามเงื่อนไขในหัวข้อ การใช้ข้อมูลส่วนบุคคลของคุณตรวจสอบเพื่อระบุตัวตนของคุณ;
                                        </li>
                                        <li>
                                            เพื่อดำเนินการตามคำสั่งซื้อ ไม่ว่าจะด้วยเงินสดหรือบัตรเครดิตผ่านเว็บไซต์;
                                        </li>
                                        <li>
                                            เพื่อการบังคับใช้ข้อกำหนดและเงื่อนไขการขาย และ ข้อกำหนดและเงื่อนไขนี้ของเว็บไซต์;
                                        </li>
                                        <li>
                                            เพื่อการตรวจสอบความเป็นไปได้ในการกระทำผิดกฎหมาย;
                                        </li>
                                        <li>
                                            เพื่อทำให้เป็นไปตามคำสั่งศาลหรือกระบวนการทางกฎมหายอื่นภายในเขตอำนาจศาลที่เราดำเนินงานอยู่
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    ในกรณีที่บุคคลภายนอกได้เก็บข้อมูลส่วนบุคคลของคุณภายใต้สัญญาที่มีกับมาราธอน เราจะบังคับให้บุคคลภายนอกดังกล่าวกระทำการโดยระมัดระวังและโดยสุจริตในการปกป้องข้อมูลส่วนบุคคลของคุณ
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    การแก้ไขข้อมูลส่วนบุคคลของคุณและการยกเลิก<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;คุณมีสิทธิที่จะเข้าถึง เปลี่ยนแปลง และ ลบข้อมูลส่วนบุคคล ที่ให้ไว้กับมาราธอน คุณสามารถทำได้โดยการ “ติดต่อเรา” และ อาจเข้าถึง เปลี่ยนแปลง หรือ ลบ ข้อมูลบางส่วนของคุณโดยการไปที่ “บัญชีของฉัน” นอกจากนี้ คุณอาจปฏิเสธการรับอีเมล์จากมาราธอน โดยการคลิก “ยกเลิกการแจ้งเตือน” ในอีเมล์ใดๆที่คุณได้รับจากมาราธอน<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;หากคุณไม่ต้องการที่จะเปิดเผยข้อมูลส่วนบุคคลของคุณต่อบริษัทในเครือ หุ้นส่วนธุรกิจ หรือ บุคคลภายนอกที่ไม่เกี่ยวข้องกับมาราธอน คุณสามารถเลือกข้อมูลนั้นๆ ออกโดยการส่งคำคัดค้านการใช้หรือการเปิดเผยข้อมูลส่วนตัวของท่าน ซึ่งรายละเอียดและขั้นตอนการดำเนินการ ท่านสามารถตรวจสอบได้จาก “ติดต่อเรา”
                </li>
                <li>
                    ความปลอดภัยในข้อมูลส่วนบุคคล<br />
                    มาราธอนรับรองว่าข้อมูลที่จัดเก็บทั้งหมดจะถูกจัดเก็บอย่างปลอดภัย เราป้องกันข้อมูลส่วนตัวของท่านโดย
                    <ol>
                        <li>
                            จำกัดการเข้าถึงข้อมูลส่วนตัว
                        </li>
                        <li>
                            จัดให้มีวิธีการทางเทคโนโลยีเพื่อป้องกันไม่ให้มีการเข้าสู่ระบบคอมพิวเตอร์ที่ไม่ได้รับอนุญาต
                        </li>
                        <li>
                            จัดการทำลายข้อมูลส่วนตัวของท่านเพื่อความปลอดภัยเมื่อข้อมูลดังกล่าวไม่จำเป็นสำหรับวัตถุประสงค์ทางกฎหมายและธุรกิจอีกต่อไปหากท่านมีเหตุให้เชื่อว่าความเป็นส่วนตัวของท่านได้ถูกละเมิดโดยมาราธอน กรุณาติดต่อเราผ่านทางอีเมล์ที่ระบุไว้ในข้อกำหนดและเงื่อนไขนี้
                        </li>
                        <li>
                            รหัสผ่านของท่านเป็นกุญแจสำหรับบัญชีการใช้บริการของท่าน กรุณาใช้ตัวเลข ตัวอักษรหรือสัญลักษณ์ที่แตกต่างกัน และไม่แบ่งปันรหัสผ่านมาราธอนแก่ผู้อื่น หากท่านได้แบ่งปันรหัสผ่านแก่ผู้อื่น ท่านจะรับผิดชอบต่อการกระทำต่าง ๆ ที่ได้กระทำลงในนามหรือผ่านทางบัญชีการใช้บริการของท่านและผลที่ตามมา หากท่านไม่สามารถควบคุมรหัสผ่านของท่านได้ ท่านอาจไม่สามารถควบคุมข้อมูลส่วนตัวของท่านหรือข้อมูลอื่น ๆ ที่ส่งให้แก่มาราธอน ท่านอาจต้องยอมรับนิติกรรมใด ๆ ที่ทำลงในนามของท่าน ดังนั้นหากรหัสผ่านของท่านถูกเปิดเผยหรือไม่เป็นความลับอีกต่อไปไม่ว่าด้วยเหตุผลใด ๆ หรือท่านมีเหตุที่อาจเชื่อได้ว่ารหัสผ่านนั้นถูกเปิดเผยหรือไม่เป็นความลับอีกต่อไป ท่านควรที่จะติดต่อเราและเปลี่ยนรหัสผ่านของท่าน เราขอเตือนให้ท่านออกจากระบบบัญชีการใช้บริการ (Log off) และปิดบราวเซอร์ (Browser) ทุกครั้งที่ท่านใช้คอมพิวเตอร์สาธารณะ
                        </li>
                    </ol>
                </li>
                <li>
                    สิทธิในการแก้ไขข้อกำหนดและเงื่อนไข<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;มาราธอนสงวนสิทธิที่จะแก้ไขข้อกำหนดและเงื่อนไขนี้ได้ตลอดเวลา กรณีที่มีการเปลี่ยนแปลงในสาระสำคัญ การเปลี่ยนแปลงนโยบายดังกล่าวจะถูกประกาศหรือตีพิมพ์พร้อวันที่กำกับไว้ในเว็บไซต์ เราแนะนำให้คุณตรวจสอบข้อกำหนดและเงื่อนไขอย่างสม่ำเสมอเพื่อทราบถึงความเปลี่ยนแปลงใดๆที่เกิดขึ้น<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;การเข้าใช้เว็บไซต์และยอมรับในการบริการหลังจากมีการเปลี่ยนแปลงดังกล่าวข้างต้น ถือเป็นการยอมรับการเปลี่ยนแปลงนั้นๆ
                </li>
                <li>
                    สิทธิของมาราธอน<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ท่านรับทราบและตกลงว่า มาราธอนมีสิทธิในการเปิดเผยข้อมูลส่วนตัวแก่ หน่วยงานผู้มีอำนาจทางกฎหมาย หน่วยงานการกำกับควบคุมดูแล หน่วยงานของรัฐ หน่วยงานเกี่ยวกับภาษี หน่วยงานในการบังคับใช้กฎหมาย และหน่วยงานอื่น ๆ ที่เกี่ยวข้อง หรือเจ้าของสิทธิต่าง ๆ ที่เกี่ยวข้อง หากมาราธอนมีเหตุอันควรเชื่อได้ว่าการเปิดเผยข้อมูลส่วนตัวของท่านนั้นจำเป็นสำหรับการปฏิบัติตามหน้าที่ ความรับผิดขอบ การจัดการและข้อตกลง ไม่ว่าโดยสมัครใจหรือการบังคับ เพื่อวัตถุประสงค์ในการให้ความร่วมมือกับคำสั่ง การสอบสวน และ/หรือการร้องขอในรูปแบบต่าง ๆ ของหน่วยงานนั้น ๆ ภายใต้การบังคับของกฎหมายที่เกี่ยวข้อง ท่านตกลงว่าจะไม่ฟ้องร้องดำเนินคดีหรือดำเนินการใด ๆ ต่อมาราธอน และสละสิทธิเรียกร้องหรือสิทธิอื่นใดอันมีต่อ มาราธอน ที่อาจเกิดขึ้นจากการเปิดเผยข้อมูลส่วนตัวของท่านภายใต้สถานการณ์ดังกล่าวข้างต้น
                </li>
            </ol>
            #}
        </div>
    </section>
{% endblock %}
