{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{{data.getTitle}} | {{ parent() }}{% endblock %}
{% block service_active %}active{% endblock %}
{% block m_service_active %}active{% endblock %}

{% block breadcrumb_title1 %}{{data.getTitle}}{% endblock %}

{% block breadcrumb_sub %}
    {{ parent() }}
    <li class="active">{{data.getTitle}}</li>
{% endblock %}

{% block content %}
    <section class="section-padding">
        <div class="container">
            {{data.getContent|raw}}

            {#
            <h2>เงื่อนไขการรับประกันสินคุณภาพสินค้า</h2>
            <ol class="sty-ol">
                <li>
                    บริษัทฯ ไม่คิดค่าบริการในช่วงรับประกันคุณภาพสินค้าตามรายละเอียดใบรับประกันนับจากวันที่ในใบเสร็จรับเงิน
                </li>
                <li>
                    บริษัทฯ รับประกันคุณภาพความชำรุดบกพร่องที่เกิดจากการผลิตไม่ได้มาตรฐานหรือความบกพร่องของชิ้นส่วน ไม่รวมการใช้ผลิตภัณฑ์ในทางที่ผิดวิธีหรือเกิดจากการรื้อ ดัดแปลงชิ้นส่วนต่างๆของผลิตภัณฑ์ การใช้งานไม่ถูกวิธี การชำรุดซึ่งมิได้เกิดจากความบกพร่องของผลิตภัณฑ์หรือการเก็บรักษาไม่ถูกวิธี รวมทั้งความเสียหายเนื่องจากภัยธรรมชาติ ฟ้าผ่า ไฟไหม้และเสียหายเนื่องจากการเคลื่อนย้าย การตกหล่นหรือไฟฟ้าไม่ได้มาตรฐาน แม้การเสียหายจากเหตุดังกล่าวนี้จะเกิดขึ้นในช่วงรับประกันก็ตาม
                </li>
            </ol>

            <h4>หมายเหตุ</h4>
            <ol class="sty-ol">
                <li>
                    ลูกค้าต้องมีใบรับประกันเพื่อใช้เป็นหลักฐานในการขอใช้บริการทุกครั้งโดย ในใบรับประกันจะระบุชื่อและที่อยู่ของลูกค้า วันที่ซื้อ หมายเลขเครื่องที่ตรงกับข้อมูลของบริษัทฯ เท่านั้น
                </li>
                <li>
                    ใบรับประกันนี้ต้องไม่มีรอยแก้ไขใดๆ
                </li>
                <li>
                    การรับประกัน ไม่ครอบคลุมถึงการชำรุดของส่วนที่เกี่ยวข้องกับส่วนที่มีการใช้งานเป็นประจำเช่น โช้คอัพ สายพานลู่วิ่ง ยาง ฟองน้ำ พลาสติก สลิง เบาะต่างๆ ซึ่งเกิดจากรอยขูดขีด แตกหัก ตก หล่น
                </li>
                <li>
                    จะคิดค่าบริการและอะไหล่เมื่อหมดอายุการรับประกันตามรายละเอียดที่ระบุข้างต้น
                </li>
                <li>
                    สำหรับอุปกรณ์ทดสอบสมรรถภาพและเครื่องวัดอัตราการเต้นหัวใจ คิดค่าบริการในการซ่อมครั้งละ 300 บาท สำหรับค่าอะไหล่คิดตามราคาที่บริษัทฯ กำหนดไว้
                </li>
                <li>
                    สำหรับผลิตภัณฑ์ชนิดอื่นๆ คิดค่าบริการในการซ่อมครั้งละ 500 บาท ยกเว้น ลู่วิ่งไฟฟ้า คิดค่าบริการครั้งละ 1,000 บาทสำหรับค่าอะไหล่คิดตามราคาที่บริษัทฯ กำหนดไว้
                </li>
                <li>
                    กรุณาตัวรับสินค้าและตรวจสภาพให้เรียบร้อยในวันที่ส่งมอบสินค้า
                </li>
                <li>
                    การรับคืนสินค้าที่ส่งมาซ่อม กรุณาแสดงหลักฐานรับประกันสินค้าที่บริษัทฯ ออกไปให้ทุกครั้งที่มารับบริการ
                </li>
                <li>
                    นาฬิกาเครื่องวัดอัตราการเต้นหัวใจไม่รับประกันเมื่อใช้งานในน้ำ
                </li>
            </ol>
            <br />

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table class="table table-bordered table-responsive">
                    	<tr>
                    		<th class="text-center" colspan="3">ข้อแนะนำ ในการใช้มอเตอร์</th>
                    	</tr>
                    	<tr>
                    		<th class="text-center">มอเตอร์</th>
                    		<th class="text-center">รองรับน้ำหนักตัว</th>
                    		<th class="text-center">เวลาใช้งาน</th>
                    	</tr>
                    	<tr>
                    		<td>1.5 แรงม้า</td>
                            <td>ไม่เกิน 80 กก.</td>
                            <td>ไม่เกิน 45 นาทีต่อเนื่อง</td>
                        </tr>
                    	<tr>
                    		<td>2 แรงม้า </td>
                            <td>ไม่เกิน 90 กก.</td>
                            <td>ไม่เกิน 60 นาทีต่อเนื่อง</td>
                        </tr>
                    	<tr>
                    		<td>2.5 แรงม้า </td>
                            <td>ไม่เกิน 100 กก.</td>
                            <td>ไม่เกิน 90 นาทีต่อเนื่อง</td>
                        </tr>
                    	<tr>
                    		<td>3 แรงม้า </td>
                            <td>ไม่เกิน 120 กก.</td>
                            <td>ไม่เกิน 120 นาทีต่อเนื่อง</td>
                        </tr>
                    	<tr>
                    		<td>3.5 แรงม้า </td>
                            <td>ไม่เกิน 130 กก.</td>
                            <td>ไม่เกิน 180 นาทีต่อเนื่อง</td>
                        </tr>
                    	<tr>
                    		<td>4 แรงม้า </td>
                            <td>ไม่เกิน 150 กก.</td>
                            <td>ไม่เกิน 300 นาทีต่อเนื่อง</td>
                    	</tr>
                    </table>
                </div>
            </div>
            <br />
            <table class="table table-bordered table-responsive">
            	<tbody>
            		<tr>
            			<th class="text-center" colspan="4">การรับประกันโครงสร้างและระบบอิเล็กทรอนิกส์</th>
            		</tr>
            		<tr>
            			<th>ผลิตภัณฑ์</th>
            			<th colspan="3" class="text-center">ระยะเวลาการรับประกัน</th>
            		</tr>
            		<tr>
            			<td>ลู่วิ่ง</td>
            			<td class="text-center">มอเตอร์ 2 ปี</td>
            			<td class="text-center">โครงสร้าง 1 ปี</td>
            			<td class="text-center">ระบบอิเล็กทรอนิกส์ 6 เดือน</td>
            		</tr>
            		<tr>
            			<td>จักรยาน</td>
            			<td colspan="2" rowspan="1" class="text-center">โครงสร้าง 1 ปี</td>
            			<td class="text-center">ระบบอิเล็กทรอนิกส์ 6 เดือน</td>
            		</tr>
            		<tr>
            			<td>เครื่องเดินวงรี</td>
            			<td colspan="2" rowspan="1" class="text-center">โครงสร้าง 1 ปี</td>
            			<td class="text-center">ระบบอิเล็กทรอนิกส์ 6 เดือน</td>
            		</tr>
            		<tr>
            			<td>อุปกรณ์ยกน้ำหนัก</td>
            			<td colspan="2" rowspan="1" class="text-center">โครงสร้าง 1 ปี</td>
            			<td class="text-center">ระบบอิเล็กทรอนิกส์ 6 เดือน</td>
            		</tr>
            		<tr>
            			<td>ม้าโยก/อุปกรณ์ยืดเหยียด</td>
            			<td colspan="2" rowspan="1" class="text-center">โครงสร้าง 1 ปี</td>
            			<td class="text-center">ระบบอิเล็กทรอนิกส์ 6 เดือน</td>
            		</tr>
            		<tr>
            			<td> อุปกรณ์ทดสอบสมรรถภาพ</td>
            			<td colspan="2" rowspan="1" class="text-center">โครงสร้าง 6 เดือน</td>
            			<td class="text-center">ระบบอิเล็กทรอนิกส์ 6 เดือน</td>
            		</tr>
            		<tr>
            			<td>นาฬิกาเครื่องวัดอัตราการเต้นหัวใจ </td>
            			<td colspan="2" rowspan="1" class="text-center">โครงสร้าง 1 ปี</td>
            			<td class="text-center">ระบบอิเล็กทรอนิกส์ 6 เดือน</td>
            		</tr>
            		<tr>
            			<td>เครื่องนับก้าว ดัมเบล แผ่นน้ำหนัก<br />แกนบาร์เบลและตัวล็อค<br />ชั้นวางดัมเบล บาร์เบล
            			</td>
            			<td colspan="3" rowspan="1" class="text-center" style="vertical-align: middle;">ไม่รับประกัน</td>
            		</tr>
            	</tbody>
            </table>
            #}

        </div>
    </section>
{% endblock %}
