{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{{data.getTitle}} | {{ parent() }}{% endblock %}
{% block terms_conditions_active %}active{% endblock %}
{% block m_terms_conditions_active %}active{% endblock %}

{% block breadcrumb_title1 %}{{data.getTitle}}{% endblock %}

{% block breadcrumb_sub %}
    {{ parent() }}
    <li class="active">{{data.getTitle}}</li>
{% endblock %}

{% block content %}
    <section class="section-padding">
        <div class="container">
            {{data.getContent|raw}}
            {#
            <h2>ข้อกำหนดและเงื่อนไข ของการขาย</h2>
            <ol class="sty-ol">
                <li>ข้อกำหนดเบื้องต้น
                    <ol>
                        <li>
                            ข้อกำหนดและเงื่อนไขทั่วไปในการจำหน่ายสินค้านี้ (ซึ่งต่อไปในสัญญาฉบับนี้จะเรียกว่า "เงื่อนไขทั่วไป") มีผลใช้เฉพาะระหว่าง บริษัท มาราธอน (ประเทศไทย) จำกัด เลขทะเบียนบริษัท 0105527021583 ซึ่งก่อตั้งเป็นบริษัทตามกฎหมายไทยและมีสำนักงานจดทะเบียนตั้งอยู่ 149 ถนน บรมราชชนนี แขวงอรุณอัมรินทร์ เขตบางกอกน้อย กรุงเทพ 10700 (ซึ่งต่อไปในสัญญาฉบับนี้จะเรียกว่า "มาราธอน ") กับผู้ที่สั่งซื้อทางเว็บไซต์ของมาราธอน www.marathon.co.th (ซึ่งต่อไปในสัญญาฉบับนี้เรียกว่า "เว็บไซต์")(ซึ่งต่อไปในสัญญาฉบับนี้เรียกว่า "ลูกค้า" หรือ "คุณ" และเรียกรวมกับมาราธอนว่า "คู่สัญญา") มาราธอน และ หรือ บริษัทในเครือเป็นเจ้าของและเป็นผู้มีสิทธิดูแลและจัดการเว็บไซต์นี้ การใช้เว็บไซต์นี้ต้องเป็นไปตามเงื่อนไขทั่วไปต่อไปนี้ ซึ่งลูกค้าควรอ่านอย่างละเอียด การใช้เว็บไซต์หรือเข้าไปดูข้อมูลในหน้าใดๆ ถือว่าคุณได้ยอมรับข้อผูกพันที่ระบุไว้ในเงื่อนไขทั่วไปนี้
                        </li>
                        <li>
                            เงื่อนไขทั่วไปนี้มีผลบังคับใช้และใช้กับผู้ที่เข้าถึงหรือใช้งานเว็บไซต์ ความสัมพันธ์ระหว่างคู่สัญญา และการจัดหาผลิตภัณฑ์บนเว็บไซต์ ("ผลิตภัณฑ์") ให้กับลูกค้า
                        </li>
                        <li>
                            โดยไม่กระทบต่อข้อกำหนดอื่นใดในเงื่อนไขทั่วไปนี้ เมื่อคุณใช้เว็บไซต์หรือซื้อผลิตภัณฑ์ เท่ากับคุณแสดง รับรอง และสัญญาว่า (i) คุณยอมรับที่จะปฏิบัติตาม และผูกพันตามเงื่อนไขทั่วไปนี้ (ii) คุณเป็นผู้ที่มีอายุ 18 ปีขึ้นไป และมีความสามารถตากฎหมายในการปฏิบัติตามเงื่อนไขทั่วไปนี้ และ (iii)จะปฏิบัติตามกฎหมาย ระเบียบและข้อบังคับทั้งหมดที่บังคับใช้เกี่ยวกับการเข้าถึงและการใช้งานเว็บไซต์
                        </li>
                        <li>
                            เงื่อนไขทั่วไปนี้อยู่เหนือการแก้ไขใดๆ ของลูกค้า โดยเงื่อนไขใดๆที่ลูกค้าแก้ไขแล้วส่ง เสนอ หรือกำหนดไว้จะไม่ใช้และไม่รวมอยู่ ณ ที่นี้ ไม่ว่ามาราธอนจะคัดค้านเงื่อนไขดังกล่าวอย่างชัดแจ้งหรือไม่ก็ตาม
                        </li>
                        <li>
                            มาราธอนขอสงวนสิทธิในการแก้ไข เพิ่มเติม ปรับปรุง เปลี่ยนแปลงหรือปรับเปลี่ยนเงื่อนไขทั่วไปนี้ได้เสมอ ขอให้คุณอ่านเงื่อนไขทั่วไปนี้ โดยละเอียด และตรวจดูการปรับปรุง เปลี่ยนแปลง หรือแก้ไขข้อมูลเป็นประจำ เนื่องจากเงื่อนไขทั่วไปนี้จะใช้บังคับคำสั่งซื้อทั้งหมด จึงควรทบทวนเงื่อนไขทั่วไปนี้ทุกครั้งที่คุณสั่งซื้อ หากคุณไม่เห็นด้วยกับการเปลี่ยนแปลง ปรับบปรุงหรือแก้ไขของเงื่อนไขทั่วไป คุณต้องหยุดใช้เว็บไซต์ทันที
                        </li>
                    </ol>
                </li>

                <li>การสั่งซื้อ
                    <ol>
                        <li>การส่งคำสั่งซื้อ
                            <ol>
                                <li>
                                    ลูกค้าที่ประสงค์จะซื้อผลิตภัณฑ์ให้ส่งคำสั่งซื้อทางเว็บไซต์ ("คำสั่งซื้อ") โดยคำสั่งซื้อทั้งหมดอยู่ภายใต้การตอบรับของมาราธอนและความพร้อมจำหน่ายของผลิตภัณฑ์
                                </li>
                                <li>
                                    ก่อนที่จะส่งคำสั่งซื้อ ลูกค้าต้องสร้างบัญชีผู้ใช้กับเว็บไซต์ โปรดอ่านขั้นตอนต่างๆ ที่จำเป็นต้องดำเนินการเพื่อส่งคำสั่งซื้อทาง การส่งคำสั่งซื้อทางเว็บไซต์เป็นไปตามสัญญาข้อ 2.2 นี้ ในการสร้างบัญชีผู้ใช้กับเว็บไซต์ของมาราธอน ลูกค้าจะต้องไม่เปิดเผยข้อมูลบัญชีของคุณต่อบุคคลอื่นใด คุณต้องรับผิดชอบต่อการรักษาความลับและความปลอดภัยของบัญชี รวมถึงกิจกรรมทั้งปวงที่เกิดขึ้นจากหรือผ่านบัญชีของคุณแต่เพียงผู้เดียวทั้งสิ้น และคุณยินยอมที่จะแจ้งให้ดีมาราธอน ทราบถึงการละเมิดความปลอดภัยของบัญชีคุณทันที โดยมาราธอน จะไม่รับผิดชอบต่อความสูญเสียใดๆที่เกิดขึ้นจากการใช้บัญชีของคุณโดยไม่ได้รับอนุญาต
                                </li>
                                <li>
                                    กระบวนการสั่งซื้อจะทำให้คุณสามารถตรวจสอบและแก้ไขข้อผิดพลาดก่อนที่จะส่งคำสั่งซื้อของคุณให้กับมาราธอน โปรดอ่านและตรวจสอบคำสั่งซื้อของคุณโดยละเอียดในทุกหน้าของกระบวนการสั่งซื้อ
                                </li>
                                <li>
                                    การส่งคำสั่งซื้อแสดงว่าคุณ
                                    <ol>
                                        <li>
                                            ติดต่อกับมาราธอนเพื่อซื้อผลิตภัณฑ์ตามเงื่อนไขทั่วไปนี้
                                        </li>
                                        <li>
                                            รับรองว่าคุณอายุ 18 ขึ้นไปและมีความสามารถตามกฎหมายในการผูกพันตามเงื่อนไขทั่วไปนี้
                                        </li>
                                        <li>
                                            รับรองว่าคุณเป็นผู้ใช้ผลิตภัณฑ์ และ (iv) รับรองว่าข้อมูลทั้งหมดที่ให้กับมาราธอนอันเนื่องมาจากคำสั่งซื้อดังกล่าวนั้นเป็นข้อมูลจริงและถูกต้อง และคุณได้รับอนุญาตให้ใช้วิธีการชำระเงินที่คุณได้ระบุไว้ใน คำสั่งซื้อดังกล่าว
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    เมื่อส่งคำสั่งซื้อ คุณจะได้รับอีเมลจากมาราธอนที่แสดงว่ามาราธอนได้รับคำสั่งซื้อของคุณ ("การยืนยันคำสั่งซื้อ")
                                </li>
                                <li>
                                    ก่อนที่มาราธอนจะตอบรับคำสั่งซื้อ จะมีการตรวจสอบความถูกต้องของข้อมูล มาราธอนขอสงวนสิทธิในการตอบรับคำสั่งซื้อของคุณ หรือปฏิเสธคำสั่งซื้อดังกล่าว หรือบางส่วนของคำสั่งซื้อได้ทุกเมื่อ แม้หลังจากคุณได้รับการยืนยันคำสั่งซื้อแล้วก็ตาม ไม่ว่าจะด้วยเหตุผลใดก็ตาม
                                </li>
                                <li>
                                    มาราธอนสามารถกำหนดข้อจำกัดของปริมาณที่จะซื้อต่อคำสั่งซื้อ ต่อบัญชีผู้ใช้ ต่อบัตรเครดิตหรือต่อบุคคล ซึ่งคุณจะได้รับแจ้งก่อนที่มาราธอนจะตอบรับคำสั่งซื้อของคุณ
                                </li>
                                <li>
                                    มาราธอนอาจยอมรับการแก้ไขคำสั่งซื้อหลังมีการยืนยันคำสั่งซื้อให้กับลูกค้า ทั้งนี้อยู่ในดุลยพินิจของมาราธอนแต่เพียงผู้เดียว
                                </li>
                            </ol>
                        </li>
                        <li>วิธีส่งคำสั่งซื้อทางเว็บไซต์ ลูกค้าจะต้องทำตามขั้นตอนในการส่งคำสั่งซื้อให้เสร็จสมบูรณ์ ดังนี้
                            <ol>
                                <li>เพิ่มรายการสินค้าที่เลือกซื้อลงในตะกร้า</li>
                                <li>เลือกวิธีการจัดส่ง</li>
                                <li>เลือกวิธีการชำระเงิน</li>
                                <li>ชำระเงิน</li>
                                <li>ลูกค้าจะได้รับอีเมล์ยืนยันว่าคำสั่งซื้อถูกบันทึก และ</li>
                                <li>สุดท้าย ลูกค้าจะได้รับอีเมล์ยืนยันคำสั่งซื้อ (การยืนยันคำสั่งซื้อ)</li>
                                <li>เมื่อพร้อมจัดส่งตามคำสั่งซื้อมาราธอนจะส่งอีเมล์แจ้งการจัดส่งตามคำสั่งซื้อให้กับลูกค้า (การยืนยันการจัดส่ง)</li>
                            </ol>
                        </li>
                        <li>ราคาและการชำระเงิน
                            <ol>
                                <li>
                                    ราคาผลิตภัณฑ์จะระบุไว้บนเว็บไซต์ หากมาราธอนมีร้านค้าปลีกอยู่ในประเทศ/ภูมิภาคของคุณ ขั้นตอนดำเนินการ การเลือกผลิตภัณฑ์ และรายการส่งเสริมการขายที่เสนอให้บนเว็บไซต์อาจต่างจากที่มีหรือเสนอให้ในร้านค้าปลีก
                                </li>
                                <li>
                                    ราคาผลิตภัณฑ์สามารถเปลี่ยนแปลงได้ทุกเมื่อโดยไม่ต้องแจ้งให้ทราบ แต่คุณจะถูกเรียกเก็บเงินตามราคาที่แสดงบนเว็บไซต์ ณ เวลาที่คุณยืนยันคำสั่งซื้อของคุณเสมอ
                                </li>
                                <li>
                                    ราคาแสดงเป็นสกุลเงินบาทไทย (บาท) มาราธอนพยายามตามสมควรในการตรวจสอบให้แน่ใจว่าราคาที่ลูกค้าชำระเป็นราคาที่แสดงบนเว็บไซต์ อย่างไรก็ตามอาจมีค่าภาษี อากร ค่าใช้จ่าย และ/หรือค่าธรรมเนียมเพิ่มเติม ซึ่งขึ้นอยู่กับประเทศที่จัดส่งนั้นๆ ในกรณีที่มีค่าภาษี อากร ค่าใช้จ่าย และ/หรือค่าธรรมเนียมเพิ่มเติมดังกล่าว คุณจะต้องเป็นผู้ชำระเงินนั้น
                                </li>
                                <li>
                                    ราคาที่แสดงไม่รวมค่าจัดส่ง ซึ่งจะบวกเพิ่มในคำสั่งซื้อและแสดงในหน้าการชำระเงิน โดยค่าจัดส่งดังกล่าวจะต่างกันตามราคาในคำสั่งซื้อของคุณ ปลายทางการจัดส่ง และวิธีการจัดส่งที่เลือก
                                </li>
                                <li>
                                    คุณต้องชำระค่าผลิตภัณฑ์เต็มจำนวนเมื่อส่งคำสั่งซื้อ การชำระเงินตามคำสั่งซื้อสามารถทำได้โดยใช้ (i) บัตรเครดิตที่ออกให้โดยบริษัทบัตรเครดิตหรือเดบิตที่มาราธอนยอมรับ หรือ (ii) เงินสดเมื่อรับสินค้า ทั้งนี้ มาราธอนขอสงวนสิทธิในการเปลี่ยนแปลงตัวเลือกในการชำระเงินได้ทุกเมื่อไม่ว่าจะด้วยเหตุผลใดก็ตาม
                                </li>
                                <li>
                                    การทำธุรกรรมโดยใช้บัตรเครดิต/เดบิตทั้งหมดบนเว็บไซต์ได้รับการรักษาความปลอดภัยโดยใช้เทคโนโลยีและการชำระเงินด้วยระบบรักษาความปลอดภัยแบบ Secure Socket Layer (SSL) ที่ธนาคารกรุงศรีอยุธยา จำกัดเป็นผู้ดำเนินการ
                                </li>
                                <li>
                                    คุณรับรองว่ารายละเอียดทั้งหมดที่ให้กับมาราธอนอันเกี่ยวกับคำสั่งซื้อเป็นข้อมูลที่ถูกต้อง บัตรเครดิต/เดบิตหรือบัญชีที่คุณใช้เป็นของคุณเอง และมีเงินหรือมีเครดิตเพียงพอสำหรับชำระเงินตามคำสั่งซื้อของคุณ มาราธอนขอสงวนสิทธิในการตรวจสอบความถูกต้องของรายละเอียดในการชำระเงินของคุณก่อนที่จะจัดส่งผลิตภัณฑ์ให้กับคุณ
                                </li>
                                <li>
                                    ถ้าคุณเป็นลูกค้าที่บัตรเครดิตหรือเดบิตไม่ได้กำหนดไว้เป็นสกุลเงินบาทไทย (บาท) ราคาสุดท้ายอาจต่างจากที่แสดง ทั้งนี้ขึ้นอยู่กับอัตราแลกเปลี่ยนที่ผู้ออกบัตรหรือธนาคารผู้ออกบัตรของคุณใช้ เพื่อหลีกเลี่ยงไม่ให้เกิดข้อกังขา หากคุณใช้บัตรเครดิต/เดบิตระหว่างประเทศ มาราธอนจะไม่รับผิดชอบต่อค่าธรรมเนียมในการทำธุรกรรมต่างประเทศที่ธนาคารผู้ออกบัตรของคุณเรียกเก็บในทุกกรณี
                                </li>
                                <li>
                                    เมื่อมาราธอนได้รับชำระเงินตามคำสั่งซื้อของคุณครบถ้วนเรียบร้อยแล้ว คุณจะได้รับอีเมลจาก มาราธอนที่ยืนยันการชำระเงินของคุณ ("การยืนยันการชำระเงิน")
                                </li>
                                <li>
                                    เว็บไซต์มีผลิตภัณฑ์เป็นจำนวนมาก จึงเป็นไปได้เสมอว่า แม้มาราธอนได้พยายามตามสมควรแล้วก็ตาม อาจมีผลิตภัณฑ์บางตัวบนเว็บไซต์ที่แสดงราคาไม่ถูกต้อง หากมาราธอนพบข้อผิดพลาดของราคาผลิตภัณฑ์ที่คุณสั่งซื้อ มาราธอนจะแจ้งให้คุณทราบข้อผิดพลาดนี้และให้คุณเลือกที่จะซื้อผลิตภัณฑ์ดังกล่าวต่อในราคาที่ถูกต้องหรือยกเลิกคำสั่งซื้อของคุณ มาราธอนจะไม่จัดส่งคำสั่งซื้อของคุณจนกว่าจะได้รับคำสั่งจากคุณ หากมาราธอนไม่สามารถติดต่อคุณโดยใช้รายละเอียดข้อมูลติดต่อที่คุณให้ไว้ มาราธอนจะถือว่าคำสั่งนั้นถูกยกเลิกและแจ้งให้คุณทราบอย่างเป็นลายลักษณ์อักษร หากมีการยกเลิกคำสั่งซื้อ มาราธอนจะคืนเงินให้คุณตามวิธีการชำระเงินที่คุณใช้ชำระคำสั่งซื้อผลิตภัณฑ์ โดยรวมค่าจัดส่ง (ถ้ามี) เพื่อหลีกเลี่ยงไม่ให้เกิดข้อกังขา ในกรณีที่มีข้อผิดพลาดของราคาอย่างชัดเจนและไม่ผิดพลาด และคุณจำได้ว่าเป็นราคาที่ผิด มาราธอนไม่จำเป็นต้องจำหน่ายผลิตภัณฑ์ดังกล่าวให้กับคุณในราคาที่ไม่ถูกต้อง (ถูกกว่า)
                                </li>
                            </ol>
                        </li>
                        <li>การตอบรับคำสั่งซื้อ
                            <ol>
                                <li>
                                    มาราธอนไม่ได้ถูกบังคับให้จัดหาผลิตภัณฑ์ให้กับคุณ จนกว่าจะตอบรับคำสั่งซื้อของคุณ ตราบที่ยังไม่ได้ตอบรับคำสั่งซื้อของคุณ มาราธอนขอสงวนสิทธิในการยกเลิกคำสั่งซื้อของคุณไม่ว่าด้วยเหตุผลใดก็ตาม รวมถึงแต่ไม่จำกัดเพียง มาราธอนมีมูลเหตุอันสมควรให้เชื่อว่า คุณได้ละเมิดเงื่อนไขทั่วไปนี้ ไม่มีผลิตภัณฑ์จำหน่าย หรือผลิตภัณฑ์ไม่ได้ถูกซื้อเพื่อการใช้งาน      หากมาราธอนยกเลิกคำสั่งซื้อของคุณก่อนที่จะตอบรับ มาราธอนจะคืนเงินให้คุณตามวิธีการชำระเงินที่คุณใช้ชำระคำสั่งซื้อผลิตภัณฑ์ โดยรวมค่าจัดส่ง (ถ้ามี)
                                </li>
                                <li>
                                    คำสั่งซื้อของคุณยังคงมีผลเป็นข้อเสนอจนกว่าจะได้รับการตอบรับ คำสั่งซื้อจะกลายเป็นสัญญา และมาราธอนมีข้อผูกมัดตามกฎหมายในการจัดหาผลิตภัณฑ์ดังกล่าวให้กับคุณเมื่อมาราธอนยืนยันตอบรับกับคุณด้วยการส่งอีเมลยืนยันว่าผลิตภัณฑ์ถูกจัดส่ง (“การยืนยันการจัดส่ง”)
                                </li>
                                <li>
                                    กรรมสิทธิ์และความเสี่ยงที่ผลิตภัณฑ์ที่ซื้อจะสูญหายโดยอุบัติเหตุตกเป็นของผู้ซื้อเมื่อมีการออกอีเมลยืนยันการจัดส่งแล้ว
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>

                <li>การจัดส่ง
                    <ol>
                        <li>
                            เว็บไซต์จัดทำขึ้นเพื่อการใช้งานของลูกค้าที่พำนักในประเทศซึ่งเว็บไซต์นี้ให้บริการ และอาจมีข้อจำกัดด้านสถานที่ซึ่งมาราธอนสามารถจัดส่งผลิตภัณฑ์ให้ได้
                        </li>
                        <li>
                            วันที่จัดส่งผลิตภัณฑ์โดยประมาณจะถูกระบุไว้ในอีเมลยืนยันการจัดส่ง แต่วันที่จัดส่งโดยประมาณนั้นเป็นเพียงแนวทางเท่านั้น และไม่ได้มีผลผูกมัดกับมาราธอน
                        </li>
                        <li>
                            หากไม่สามารถจัดส่งผลิตภัณฑ์ให้ได้ตามวันที่จัดส่งโดยประมาณ มาราธอนจะติดต่อคุณ แต่มาราธอนจะไม่รับผิดชอบต่อการสูญหาย ความรับผิด ค่าใช้จ่าย ความเสียหาย การเรียกเก็บเงิน หรือค่าใช้จ่ายต่างๆ อันเกิดการจัดส่งล่าช้า ไม่ว่าในกรณีใดก็ตาม
                        </li>
                        <li>
                            ผลิตภัณฑ์จะได้รับการบรรจุหีบห่อตามมาตรฐานขั้นตอนการบรรจุหีบห่อของมาราธอน โดยมาราธอน ขอสงวนสิทธิในการปรับรูปแบบการบรรจุหีบห่อตามคำสั่งเฉพาะ และในกรณีดังกล่าว หากมีค่าใช้จ่ายเพิ่มเติม ลูกค้าจะต้องชำระก่อนการจัดส่งผลิตภัณฑ์นั้น
                        </li>
                        <li>
                            ผลิตภัณฑ์จะถูกจัดส่งจากบริษัท มาราธอน (ประเทศไทย) จำกัด สาขาสำนักงานใหญ่ โดยอยู่ในความรับผิดชอบและความเสี่ยงของลูกค้า ทั้งนี้ มาราธอนมีอิสระในการเลือกผู้ส่ง บริษัทขนส่ง และวิธีการขนส่ง
                        </li>
                        <li>
                            เมื่อมาราธอนออกหนังสือยืนยันการจัดส่ง ความเสี่ยงที่ผลิตภัณฑ์ที่ซื้อจะสูญหายโดยอุบัติเหตุจะตกเป็นของลูกค้า แม้มีการชำระค่าขนส่ง แต่มาราธอนไม่จำเป็นต้องรับประกันผลิตภัณฑ์ หรือรับประกันผลิตภัณฑ์ต่อความเสียหายระหว่างขนส่ง
                        </li>
                        <li>
                            มาราธอนจะจัดส่งผลิตภัณฑ์ของคุณไปยังที่อยู่ในการจัดส่งที่คุณให้ไว้ในการยืนยันคำสั่งซื้อของคุณ เว้นแต่มาราธอนได้ตกลงไว้เป็นอื่น ในการจัดส่งผลิตภัณฑ์ของคุณ คุณจะต้องลงชื่อรับการจัดส่ง และถ้าไม่มีคนรับการจัดส่งผลิตภัณฑ์ของคุณ ผู้ส่งที่มาราธอนแต่งตั้งสามารถทิ้งข้อความให้คุณโดยแจ้งการจัดส่งอีกครั้งหรือให้คุณไปรับของกับผู้ส่ง
                        </li>

                    </ol>
                </li>

                <li>ผลิตภัณฑ์ของมาราธอน
                    <ol>
                        <li>
                            ภาพผลิตภัณฑ์บนเว็บไซต์ใช้เป็นตัวอย่างประกอบเท่านั้น แม้มาราธอนได้พยายามอย่างที่สุดที่จะแสดงสีอย่างถูกต้อง แต่ก็ไม่สามารถรับประกันว่าการแสดงผลในหน้าจอคอมพิวเตอร์ของคุณจะตรงกับสีของผลิตภัณฑ์ ผลิตภัณฑ์ที่ซื้อจึงอาจต่างจากภาพเล็กน้อย
                        </li>
                        <li>
                            มาราธอนพยายามอย่างที่สุดในการตรวจสอบให้แน่ใจว่า
                            <ol>
                                <li>
                                    ข้อมูลทั้งหมดเกี่ยวกับผลิตภัณฑ์ที่เผยแพร่บนเว็บไซต์เป็นข้อมูลที่ถูกต้อง
                                </li>
                                <li>
                                    เว็บไซต์ได้รับการปรับปรุงข้อมูลเป็นประจำ และ
                                </li>
                                <li>
                                    มีการแก้ไขข้อผิดพลาดที่พบภายในเวลาที่ควร อย่างไรก็ดี เนื้อหาดังกล่าวอาจไม่ถูกต้องหรือไม่เป็นปัจจุบัน ณ เวลาที่ยังไม่ได้แก้ไข มาราธอนขอสงวนสิทธิในการแก้ไขข้อมูลบนเว็บไซต์ได้ตลอดเวลา รวมถึงราคาผลิตภัณฑ์ คุณลักษณะ รายละเอียด ข้อเสนอ และความพร้อมจำหน่าย
                                </li>
                            </ol>
                        </li>
                        <li>
                            การบรรจุหีบห่อผลิตภัณฑ์อาจต่างจากที่แสดงในภาพบนเว็บไซต์
                        </li>
                    </ol>
                </li>

                <li>นโยบายการคืนสินค้า
                    <ol>
                        <li>ลูกค้าสามารถส่งคืนผลิตภัณฑ์ให้กับมาราธอนเพื่อรับเงินคืนได้ตามเงื่อนไขต่อไปนี้
                            <ol>
                                <li>ช่องทางในการส่งคืนผลิตภัณฑ์มี 2 ทางคือ
                                    <ol>
                                        <li>ส่งคืนร้านของเราได้ทุกแห่ง หรือ</li>
                                        <li>ส่งคืนทางไปรษณีย์</li>
                                    </ol>
                                </li>
                                <li>
                                    5.1.2.	มาราธอนจะรับผิดชอบค่าส่งคืนผลิตภัณฑ์ โดยลูกค้าเป็นผู้รับผิดชอบผลิตภัณฑ์ดังกล่าวจนถึงคลังสินค้าของมาราธอน และมาราธอนจะตรวจสอบผลิตภัณฑ์นั้นเมื่อส่งคืน ในกรณีที่ผลิตภัณฑ์ถูกส่งคืนให้มาราธอนในสภาพที่ไม่เหมาะสม มาราธอนสามารถส่งผลิตภัณฑ์นั้นกลับไปยังลูกค้าโดยลูกค้าเป็นผู้รับผิดชอบค่าใช้จ่าย และ/หรือปฏิเสธการคืนเงิน
                                </li>
                            </ol>
                        </li>
                        <li>
                            ผลิตภัณฑ์ที่ถูกส่งคืนด้วยความใส่ใจตามควร (ไม่มีความเสื่อมสภาพหรือเสียหาย และอยู่ในสภาพที่มาราธอนสามารถจำหน่ายได้อีก) จะได้รับการดำเนินการคืนเงินภายในสิบสี่ (14) ถึงยี่สิบ (20) วันหลังจากมาราธอนได้รับคืนจากคุณ มาราธอนจะคืนเงินให้คุณตามวิธีการชำระเงินที่คุณใช้ชำระคำสั่งซื้อผลิตภัณฑ์ เว้นแต่การชำระด้วยเงินสดเมื่อรับของ โดยรวมค่าจัดส่ง (ถ้ามี)
                        </li>
                        <li>
                            ในกรณีที่คุณส่งคืนผลิตภัณฑ์เนื่องจากมาราธอนจัดส่งผลิตภัณฑ์ผิด หรือผลิตภัณฑ์ผิดไปจากที่อธิบายบนเว็บไซต์ และโดยที่ผลิตภัณฑ์นั้นถูกส่งคืนด้วยความใส่ใจตามควร (ไม่มีความเสื่อมสภาพหรือเสียหาย และอยู่ในสภาพที่มาราธอนสามารถจำหน่ายได้อีก) มาราธอนจะคืนเงินให้คุณตามวิธีการชำระเงินที่คุณใช้ชำระคำสั่งซื้อผลิตภัณฑ์ เว้นแต่การชำระด้วยเงินสดเมื่อรับของ โดยรวมค่าจัดส่ง (ถ้ามี) และค่าใช้จ่ายตามควรที่เกิดกับคุณในการส่งคืนผลิตภัณฑ์ดังกล่าวให้กับมาราธอน
                        </li>
                        <li>
                            ลูกค้าสามารถไปที่'บัญชีของฉัน' (My Account) แล้วคลิก 'ติดตามคำสั่งซื้อของฉัน' (Track My Orders) หรือส่วน 'ความช่วยเหลือ' (Help) เพื่อติดต่อฝ่ายบริการลูกค้าเพื่อขอเลขที่ส่งคืน (ระบุเหตุผล)
                        </li>
                    </ol>
                </li>

                <li>การรับประกันสินค้า
                    <ol>
                        <li>
                            ผลิตภัณฑ์บางรายการของมาราธอนมาพร้อมกับใบรับประกันเมื่อจำหน่ายและมีอายุสอง (2) ปีนับจากวันที่จัดส่ง โดยที่ผลิตภัณฑ์นั้นจะต้องปราศจากการชำรุดบกพร่องของวัสดุ ข้อมูลรายละเอียดของผลิตภัณฑ์บนเว็บไซต์จะระบุว่าผลิตภัณฑ์นั้นมีการรับประกันหรือไม่ อย่างไรก็ตาม การรับประกันดังกล่าวจะไม่มีผลในกรณีตามอธิบายในสัญญาข้อ 6.2
                        </li>
                        <li>การรับประกันในสัญญาข้อ 6.1 จะไม่มีผลใช้กับข้อบกพร่องของผลิตภัณฑ์อันเกิดจากเหตุต่อไปนี้
                            <ol>
                                <li>
                                    ความเสื่อมสภาพตามปกติ
                                </li>
                                <li>
                                    ความเสียหายโดยจงใจ การจัดเก็บหรือสภาพการใช้งานผิดปกติ ขาดการบำรุงรักษาอย่างเหมาะสม อุบัติเหตุ หรือความประมาทเลินเล่อของคุณหรือบุคคลที่สาม
                                </li>
                                <li>
                                    ความล้มเหลวในการติดตั้ง ดำเนินการ หรือใช้ผลิตภัณฑ์ตามคำแนะนำในการใช้งาน คุณลักษณะ หรือสภาพที่มาราธอนจัดให้ลูกค้า หรือ
                                </li>
                                <li>
                                    การเปลี่ยนแปลงแก้ไขหรือซ่อมแซมโดยคุณหรือบุคคลอื่นที่ไม่ใช่ช่างซ่อมที่ได้รับอนุญาตจาก   มาราธอน
                                </li>
                            </ol>
                        </li>
                        <li>
                            ในกรณีที่คุณอยากจะซ่อมแซมหรือส่งคืนผลิตภัณฑ์ที่ชำรุดในช่วงรับประกัน โปรดระบุความต้องการในหน้า 'ติดต่อเรา'
                        </li>
                        <li>
                            มาราธอนสามารถเลือกที่จะซ่อมแซมหรือเปลี่ยนผลิตภัณฑ์ที่ชำรุดนั้น ทั้งนี้ขึ้นอยู่กับลักษณะของการชำรุดดังกล่าว ในกรณีที่มาราธอนใช้ความพยายามตามสมควร แต่ไม่สามารถซ่อมแซมหรือเปลี่ยนผลิตภัณฑ์ที่ชำรุดนั้นได้ มาราธอนจะให้เครดิตกับลูกค้าเท่ากับราคาเดิมที่ลูกค้าชำระเป็นค่าผลิตภัณฑ์ที่ชำรุด และเป็นการเยียวยาเดียวที่ลูกค้ามีสิทธิได้รับ
                        </li>
                        <li>
                            ในกรณีที่ส่งคืนผลิตภัณฑ์ให้กับมาราธอนโดยไม่มีเหตุผลที่เหมาะสม หรือเนื่องจากข้อบกพร่องที่เกิดจากสถานการณ์ใดสถานการณ์หนึ่งที่อธิบายในสัญญาข้อ 6.2 ข้างต้น มาราธอนขอสงวนสิทธิในการปฏิเสธคำขอของลูกค้าและส่งคืนผลิตภัณฑ์ไปยังลูกค้าโดยลูกค้าเป็นผู้รับผิดชอบค่าใช้จ่าย
                        </li>
                    </ol>
                </li>
                <li>การเข้าถึงและการใช้งานเว็บไซต์
                    <ol>
                        <li>การเข้าถึงเว็บไซต์
                            <ol>
                                <li>
                                    การเข้าถึงเว็บไซต์เป็นบริการที่จัดหาให้โดยไม่คิดค่าบริการ
                                </li>
                                <li>
                                    มาราธอนไม่รับประกันว่าเว็บไซต์หรือข้อมูลบนเว็บไซต์จะพร้อมใช้งานเสมอหรือไม่มีการขัดจังหวะ อีกทั้งการเข้าถึงเว็บไซต์เป็นการอนุญาตชั่วคราว และมาราธอนขอสงวนสิทธิในการระงับ เพิกถอน ยุติ หรือเปลี่ยนแปลงส่วนใดส่วนหนึ่งหรือทั้งหมดของเว็บไซต์โดยไม่แจ้งให้ทราบ มาราธอนไม่ต้องรับผิดต่อคุณถ้าเว็บไซต์ไม่พร้อมใช้งานเมื่อใดก็ตามหรือระยะเวลาใดก็ตาม ไม่ว่าจะด้วยเหตุผลใดก็ตาม นอกจากนี้ มาราธอนขอสงวนสิทธิที่จะปฏิเสธหรือจำกัดการเข้าถึงเว็บไซต์นี้ของบุคคลใด หรือจากเลขที่อยู่อินเทอร์เนตใด โดยไม่จำเป็นต้องบอกกล่าวหรือระบุเหตุผลในการดำเนินการนั้น
                                </li>
                            </ol>
                        </li>
                        <li>การใช้งานเว็บไซต์
                            <ol>
                                <li>
                                    เว็บไซต์นี้จัดทำเพื่อการใช้งานส่วนบุคคลของคุณเท่านั้นและไม่ใช่การใช้เพื่อการค้า และคุณ    ตกลงว่าได้รับอนุญาตให้เยี่ยมชม ดู และเก็บสำเนาข้อมูลหรือบริการที่ได้จากเว็บไซต์เพื่อใช้เป็นข้อมูลเท่านั้น เว้นแต่ระบุไว้เป็นอื่น คุณเข้าใจและสัญญาว่าคุณถูกห้ามอย่างเข้มงวดไม่ให้ทำซ้ำ ดัดแปลง แก้ไข เผยแพร่เพื่อการค้า ประกาศ อนุญาต หรือขายข้อมูล วัสดุ หรือบริการใดๆ ที่ได้รับจากเว็บไซต์
                                </li>
                                <li>คุณไม่สามารถใช้เว็บไซต์ในลักษณะต่อไปนี้
                                    <ol>
                                        <li>
                                            ละเมิดกฎหมาย ระเบียบหรือข้อบังคับ
                                        </li>
                                        <li>
                                            ไม่ชอบด้วยกฎหมายหรือฉ้อฉล หรือมีจุดประสงค์หรือผลที่ไม่ชอบด้วยกฎหมายหรือ ฉ้อฉล
                                        </li>
                                        <li>
                                            ส่ง หรือจัดหาการส่งวัสดุที่ไม่ได้ขอให้ส่ง หรือการโฆษณาที่ไม่ได้รับอนุญาต หรือวัสดุส่งเสริมการขาย หรือการชักชวนในรูปแบบอื่นที่คล้ายกัน (สแปมหรือขยะไปรษณีย์อิเล็กทรอนิกส์) หรือ
                                        </li>
                                        <li>
                                            เจตนาส่งข้อมูล ส่งหรืออัปโหลดวัสดุที่มีไวรัส ม้าโทรจัน หนอน ระเบิดเวลา คีย์สโตรก ล็อกเกอร์ สบายแวร์ แอดแวร์ หรือโปรแกรมอันตรายอื่นๆ หรือโค้ดคอมพิวเตอร์คล้ายกันนี้ที่ออกแบบมาเพื่อส่งผลร้ายต่อการทำงานของซอฟต์แวร์หรือฮาร์ดแวร์คอมพิวเตอร์
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>บัญชีสมาชิกและรหัสผ่าน
                            <ol>
                                <li>
                                    ถ้าคุณเลือกสร้างบัญชีบนเว็บไซต์ คุณต้องทำตามกระบวนการลงทะเบียนให้เสร็จสมบูรณ์ด้วยการให้ข้อมูลปัจจุบันที่ครบถ้วนและถูกต้องกับมาราธอน คุณเป็นผู้รับผิดชอบการใช้บัญชีของคุณทั้งหมดและต้องเก็บข้อมูลชื่อผู้ใช้และรหัสผ่านของคุณไว้เป็นความลับ
                                </li>
                                <li>
                                    คุณสัญญาว่าจะแจ้งมาราธอนทันทีถ้าคุณทราบหรือสงสัยว่ามีการใช้บัญชีของคุณโดยไม่ได้รับอนุญาตหรือมีการละเมิดการรักษาความปลอดภัยอื่น
                                </li>
                                <li>
                                    โปรดอ่านข้อมูลเกี่ยวกับวิธีที่มาราธอนใช้ข้อมูลของคุณได้ที่ 'นโยบายความเป็นส่วนตัว'
                                </li>
                            </ol>
                        </li>
                        <li>ข้อมูล
                            <ol>
                                <li>
                                    ข้อมูล ข้อความ คำอธิบาย เนื้อหา กราฟิก รูปภาพ โลโก้ ภาพประกอบ การออกแบบ ไอคอน คลิปวิดิโอ คลิปเสียง เสียง ไฟล์ คุณลักษณะ โฆษณา กรรมสิทธิ์ ชื่อ สิทธิในทรัพย์สินทางปัญญา และข้อมูลอื่นทั้งหมดที่ให้ไว้บนเว็บไซต์ (ซึ่งต่อไปในสัญญานี้เรียกว่า "ข้อมูล") เป็นของ   มาราธอน บริษัทในเครือ และ/หรือบุคคลอื่น (ซึ่งจะระบุไว้ด้วยการเชื่อมโยงไปถึงหรือจากแหล่งข้อมูลภายนอก หรืออย่างอื่น)
                                </li>
                                <li>
                                    ข้อมูลบนเว็บไซต์เป็นการให้ข้อมูลโดยทั่วไปเท่านั้น และไม่ได้เป็นการผูกมัดกับมาราธอนไม่ว่าในทางใด เว้นแต่ข้อมูลที่มีการระบุไว้โดยเฉพาะว่าเป็นเช่นนั้น ทั้งไม่ได้มีเจตนาให้เป็นคำแนะนำที่คุณควรเชื่อใจ คุณต้องขอคำแนะนำจากมืออาชีพหรือผู้เชี่ยวชาญก่อนที่จะใช้ หรืองดเว้นจากการกระทำใดๆ ตามข้อมูลบนเว็บไซต์
                                </li>
                                <li>
                                    การใช้หรือความเชื่อมั่นในข้อมูลบนเว็บไซต์เป็นความเสี่ยงของคุณเอง และมาราธอนจะไม่รับผิดต่อข้อมูลหรือความสูญเสียหรือความเสียหายใดๆ ที่เป็นผลมาจากการที่คุณใช้หรือความเชื่อมั่นในข้อมูลที่อยู่บนเว็บไซต์ ไม่ว่าในกรณีใดก็ตาม
                                </li>
                                <li>
                                    มาราธอนไม่ได้รับรอง รับประกัน หรือให้ประกันไม่ว่าโดยชัดแจ้งหรือโดยนัยก็ตาม ว่าข้อมูลบนเว็บไซต์นั้นถูกต้อง สมบูรณ์ หรือเป็นปัจจุบัน มาราธอนขอสงวนสิทธิในการใช้ดุลยพินิจของตน แก้ไข ปรับเปลี่ยน ปรับปรุง เปลี่ยนแปลง หรือแก้ข้อมูลได้ทุกเมื่อโดยไม่ต้องแจ้งให้คุณทราบ
                                </li>
                                <li>
                                    เว็บไซต์อาจมีการเชื่อมโยงไปยังเว็บไซต์ของบุคคลอื่นที่ทำให้คุณต้องออกจากเว็บไซต์ เว็บไซต์ที่เชื่อมโยงดังกล่าวไม่ได้อยู่ในความควบคุมของมาราธอน และมาราธอนไม่รับผิดหรือรับผิดชอบต่อความถูกต้อง ความสมบูรณ์ หรือความพร้อมใช้งานของข้อมูลบนเว็บไซต์อื่น การเชื่อมโยงไปยังเว็บไซต์ของบุคคลที่สามมีให้เพื่อความสะดวกของคุณเท่านั้น และการรวมการเชื่อมโยงใดๆ ไม่ได้เป็นการแสดงนัยว่ามาราธอนเป็นเจ้าของเว็บไซต์นั้นแต่อย่างใด การที่คุณใช้เว็บไซต์ของบุคคลที่สามดังกล่าวเป็นความเสี่ยงของคุณเอง และอยู่ภายใต้ข้อกำหนดและเงื่อนไขของบุคคลที่สามนั้น
                                </li>
                            </ol>
                        </li>
                        <li>สิทธิในทรัพย์สินทางปัญญา
                            <ol>
                                <li>
                                    มาราธอนและ/หรือบริษัทในเครือเป็นเจ้าของหรือผู้รับใบอนุญาตของสิทธิในทรัพย์สินทางปัญญาทั้งหมดบนเว็บไซต์ อาทิเช่น ข้อความ บทความ รูปภาพ วีดีทัศน์ เสียง กราฟฟิก โปรแกรมคอมพิวเตอร์ โดยสิทธิในทรัพย์สินทางปัญญาดังกล่าวรวมถึงแต่ไม่จำกัดเพียงลิขสิทธิ์ เครื่องหมายการค้า สิทธิในการออกแบบผลิตภัณฑ์อุตสาหกรรม สิทธิบัตร ความรู้ความชำนาญ เอกสิทธิ์ หรือข้อมูลคล้ายกัน ไม่ว่าจะมีการจดทะเบียนหรือไม่ก็ตาม ตลอดจนสิทธิอื่นๆ ทั้งหมดที่เกี่ยวกับมาราธอน หรือเครื่องหมายการค้า ผลิตภัณฑ์ หรือกิจกรรมทางธุรกิจของบริษัทในเครือมาราธอน
                                </li>
                                <li>
                                    คุณจะไม่ใช้ ผลิตซ้ำ คัดลอก ดัดแปลง ประกาศ ส่งผ่าน เผยแพร่ จัดแสดง ดาวน์โหลด อนุญาต ถ่ายโอน หรือขายข้อมูลใดๆ เว้นแต่ได้รับอนุญาตอย่างชัดแจ้งจากมาราธอน
                                </li>
                            </ol>
                        </li>
                        <li>ข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้
                            <ol>
                                <li>
                                    มาราธอนไม่ถือสิทธิความเป็นเจ้าของข้อมูลที่คุณให้กับมาราธอน (รวมถึงความเห็น ข้อคิดเห็น การให้คะแนน คำแนะนำ) หรือประกาศ อัปโหลด หรือส่งไปยังเว็บไซต์เพื่อการอ่านของบุคคลทั่วไป หรือของสมาชิกในชุมชนสาธารณะหรือส่วนตัว (รวมเรียกว่า "ข้อมูลที่สร้างสรรค์โดยผู้ใช้")
                                </li>
                                <li>
                                    ข้อมูลที่สร้างสรรค์โดยผู้ใช้ซึ่งประกาศ อัปโหลด หรือส่งบนเว็บไซต์ จะถือว่าไม่ใช่ข้อมูลลับและปลอดกรรมสิทธิ์ และมาราธอนได้รับอนุญาตให้ใช้ คัดลอก เผยแพร่ ผลิตซ้ำ ประกาศ อนุญาตให้ใช้สิทธิช่วง และเปิดเผยข้อมูลที่สร้างสรรค์โดยผู้ใช้ดังกล่าวกับบุคคลที่สามเพื่อจุดประสงค์ใดๆ โดยไม่ต้องแจ้งให้คุณทราบ
                                </li>
                                <li>
                                    มาราธอนมีสิทธิที่จะเปิดเผยอัตลักษณ์ของคุณให้กับบุคคลที่สามที่อ้างว่าเป็นเจ้าของข้อมูลที่สร้างสรรค์โดยผู้ใช้ที่คุณประกาศหรืออัปโหลดไปยังเว็บไซต์ ซึ่งเป็นการละเมิดสิทธิในทรัพย์สินทางปัญญาของบุคคลดังกล่าว หรือสิทธิส่วนบุคคล และมาราธอนจะไม่รับผิดชอบหรือรับผิดต่อบุคคลที่สามสำหรับข้อมูลที่สร้างสรรค์โดยผู้ใช้ หรือความถูกต้องของข้อมูลที่สร้างสรรค์โดยผู้ใช้ที่คุณหรือผู้ใช้คนอื่นประกาศบนเว็บไซต์
                                </li>
                                <li>คุณสัญญาว่าข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ที่คุณประกาศ อัปโหลด หรือส่งขึ้นเว็บไซต์นั้นเป็นดังนี้
                                    <ol>
                                        <li>ถูกต้อง (เมื่อแสดงข้อเท็จจริง)</li>
                                        <li>แท้จริง (เมื่อเป็นความคิดเห็น) และ</li>
                                        <li>เป็นไปตามกฎหมายที่บังคับใช้ในประเทศที่ประกาศข้อมูล</li>
                                    </ol>
                                </li>
                                <li>คุณสัญญาว่าจะไม่ประกาศ อัปโหลด หรือส่งข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้มายังเว็บไซต์ เมื่อข้อมูลมีลักษณะดังนี้
                                    <ol>
                                        <li>
                                            ไม่เกี่ยวข้องกับหัวข้อที่เหมาะสม
                                        </li>
                                        <li>
                                            ทำให้ผู้อื่นเข้าใจผิด
                                        </li>
                                        <li>
                                            มีไวรัส โทรจัน หนอน ลอจิกบอมบ์ หรือเนื้อหาอื่นใดที่ประสงค์ร้ายหรือเป็นอันตรายทางเทคโนโลยี
                                        </li>
                                        <li>
                                            ละเมิดสิทธิทรัพย์สินทางปัญหาของบุคคลอื่น
                                        </li>
                                        <li>
                                            ผิดกฎหมาย ให้โทษ ข่มขู่ ปรามาส หยาบคาย อนาจาร หมิ่นประมาท ลามก สัปดน น่ารังเกียจ ก้าวร้าว หรือเหยียดผิว เหยียดชนชาติ หรือมีประเด็นอื่นให้คัดค้าน
                                        </li>
                                        <li>
                                            ส่งเสริมความรุนแรง
                                        </li>
                                        <li>
                                            สนับสนุนกิจกรรมที่ผิดกฎหมาย
                                        </li>
                                        <li>
                                            มีแนวโน้มที่จะหลอกลวงผู้ใด
                                        </li>
                                        <li>
                                            ละเมิดหน้าที่ตามกฎหมายของบุคคลอื่น เช่น หน้าที่ตามสัญญา หรือหน้าที่ในการรักษาความลับ
                                        </li>
                                        <li>
                                            สนับสนุน ส่งเสริม และช่วยเหลือการกระทำที่ผิดกฎหมาย เช่น การละเมิดลิขสิทธิ์ หรือการใช้คอมพิวเตอร์ในทางที่ผิด (ยกตัวอย่างเท่านั้น) หรือ
                                        </li>
                                        <li>
                                            ละเมิดกฎหมาย ระเบียบหรือข้อบังคับของรัฐ ประเทศ หรือระหว่างประเทศโดยเจตนาหรือไม่เจตนา
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    คุณมีสิทธิในการนำข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ที่คุณเป็นผู้ประกาศ อัปโหลด หรือส่งออกได้
                                </li>
                                <li>
                                    ข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ไม่ได้เป็นมุมมอง ข้อคิดเห็น คำแนะนำ คุณค่า หรือความเชื่อของมาราธอนแต่อย่างใด และมาราธอนไม่รับรองความถูกต้องของข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ดังกล่าว
                                </li>
                                <li>
                                    มาราธอนจะใช้ดุลยพินิจของตนพิจารณาว่าการใช้เว็บไซต์ของคุณละเมิดสัญญาข้อ 7 นี้หรือไม่ และขอสงวนสิทธิในการดำเนินการใดๆ ตามที่มาราธอนเห็นว่าเหมาะสม รวมถึงแต่ไม่จำกัดเพียงการดำเนินการต่อไปนี้
                                    <ol>
                                        <li>
                                            ลบข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ออกจากเว็บไซต์ทันที โดยชั่วคราวหรือถาวร เมื่อใดก็ได้ และด้วยเหตุผลใดก็ได้
                                        </li>
                                        <li>
                                            เพิกถอนสิทธิในการใช้เว็บไซต์ของคุณทันที โดยชั่วคราว หรือถาวร
                                        </li>
                                        <li>
                                            ออกหนังสือเตือนคุณ
                                        </li>
                                        <li>
                                            ดำเนินการตามกฎหมายกับคุณเพื่อให้ชำระเงินคืนค่าใช้จ่ายทั้งหมดตามการชดใช้ค่าสินไหมทดแทน (รวมถึงแต่ไม่จำกัดเพียงค่าบริหารจัดการและใช้จ่ายทางกฎหมายตามควร) อันเกิดจากการละเมิดดังกล่าว หรือ
                                        </li>
                                        <li>
                                            ดำเนินการตามกฎหมายกับคุณเพิ่มเติม
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>

                <li>ข้อสงวนสิทธิและข้อจำกัดความรับผิด
                    <ol>
                        <li>มาราธอนไม่รับผิดหรือไม่มีหน้าที่รับผิดชอบต่อ
                            <ol>
                                <li>
                                    ข้อผิดพลาด ความผิดพลาด หรือความไม่ถูกต้องของผลิตภัณฑ์ เนื้อหา ข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้บริการ หรือข้อมูลอื่น หรือเนื้อหาที่แสดงหรือมีอยู่บนเว็บไซต์
                                </li>
                                <li>
                                    การเข้าถึงโดยไม่ได้รับอนุญาต หรือการใช้เซิร์ฟเวอร์ที่ความปลอดภัย (ไม่ว่ามาราธอนเป็นผู้จัดหาให้โดยตรงหรือแต่งตั้งให้บุคคลที่สามจัดหาให้ก็ตาม) และ/หรือข้อมูลส่วนบุคคลไม่ว่าส่วนหนึ่งส่วนใดหรือทั้งหมดที่เก็บไว้ในเซิร์ฟเวอร์
                                </li>
                                <li>
                                    ความเสียหายทางทรัพย์สินไม่ว่าในลักษณะใด อันเกิดจากการเข้าถึงและการใช้งาน หรือความเชื่อถือต่อผลิตภัณฑ์ เนื้อหา ข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ บริการ หรือข้อมูลอื่น หรือเนื้อหาที่แสดงหรือมีอยู่บนเว็บไซต์ หรือเว็บไซต์ของบุคคลที่สามที่เชื่อมโยง
                                </li>
                                <li>
                                    การขัดจังหวะหรือการหยุดชะงักของการส่งผ่านไปถึง หรือจากบริการที่เว็บไซต์จัดหาให้ หรือเว็บไซต์ของบุคคลที่สามที่เชื่อมโยง
                                </li>
                                <li>
                                    ไวรัส โทรจัน หนอน ระเบิดเวลา คีย์สโตรก ล็อกเกอร์ สปายแวร์ แอดแวร์ หรือโปรแกรมอื่นๆ หรือโค้ดคอมพิวเตอร์ในลักษณะคล้ายกันที่ออกแบบมาเพื่อสร้างผลร้ายต่อการทำงานของซอฟต์แวร์หรือฮาร์ดแวร์คอมพิวเตอร์ที่ส่งผ่านเว็บไซต์หรือเว็บไซต์ของบุคคลที่สามที่เชื่อมโยง และ/หรือ
                                </li>
                                <li>
                                    ข้อผิดพลาดหรือการละเว้นในเนื้อหา ข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ ข้อมูลหรือเนื้อหาที่แสดงหรือมีอยู่บนเว็บไซต์ (รวมถึงแต่ไม่จำกัดเพียงเว็บไซต์ของบุคคลที่สาม) หรือความสูญเสียหรือความเสียหายไม่ว่าในลักษณะใดก็ตาม อันเป็นผลจากการใช้งานหรือความเชื่อมั่นต่อสิ่งที่ได้กล่าวมาก่อนแล้ว
                                </li>
                            </ol>
                        </li>
                        <li>
                            เงื่อนไขทั่วไปนี้แสดงข้อมูลที่ครบถ้วนของพันธะหน้าที่และความรับผิดของมาราธอนในการจัดหาผลิตภัณฑ์ และไม่มีการรับประกัน เงื่อนไข หรือข้อกำหนดอื่นใดที่ผูกมัดกับมาราธอน เว้นแต่ที่ได้ระบุไว้ชัดเจนในเงื่อนไขทั่วไปนี้
                        </li>
                        <li>
                            โดยไม่ขัดต่อข้อกำหนดอื่นในเงื่อนไขทั่วไป และยกเว้นสำหรับขอบเขตที่บังคับตามกฎหมาย ความรับผิดรวมสูงสุดของมาราธอน พนักงาน เจ้าหน้าที่ ผู้รับจ้างช่วง หรือตัวแทนของ มาราธอน สำหรับการกระทำ หรือการละเลย ไม่ว่าในสัญญา การละเมิด (รวมถึงความประมาทเลินเล่อ) หรืออื่นๆ ที่เกี่ยวกับเงื่อนไขทั่วไปนี้ จะไม่เกินจำนวนที่คุณชำระให้กับมาราธอนเป็นค่าผลิตภัณฑ์ที่มีปัญหา
                        </li>
                        <li>มาราธอนจะไม่รับผิดต่อลูกค้าสำหรับ
                            <ol>
                                <li>
                                    การสูญหายหรือเสียหาย ไม่ว่าโดยอ้อม พิเศษ หรือสืบเนื่อง
                                </li>
                                <li>
                                    การสูญหายของข้อมูล หรืออุปกรณ์ หรือทรัพย์สินอื่น
                                </li>
                                <li>
                                    การสูญหายหรือเสียหายทางเศรษฐกิจ
                                </li>
                                <li>
                                    ความรับผิดที่เกิดกับลูกค้าสำหรับการสูญเสียหรือเสียหายไม่ว่าในลักษณะใดของบุคคลที่สาม (รวมถึงกรณีที่มิได้ตั้งใจและค่าเสียหายในเชิงลงโทษ) หรือ
                                </li>
                                <li>
                                    การสูญเสียกำไรจริงหรือที่คาดไว้ การใช้งาน โอกาส ผลประโยชน์ รายได้ การประหยัดที่คาดไว้ ธุรกิจ หรือความเสียหายต่อค่าความนิยม แม้ว่ามาราธอนได้รับการแจ้งล่วงหน้าถึงความเป็นไปได้ของการสูญเสียหรือความเสียหายดังกล่าวก็ตาม
                                </li>
                            </ol>
                        </li>
                        <li>มาราธอนจะไม่รับผิดต่อการสูญเสียอันเกิดจากการที่ลูกค้าใช้ผลิตภัณฑ์ในทางที่ผิดในภายหลังโดยรวมถึงแต่ไม่จำกัดเพียง
                            <ol>
                                <li>
                                    ความเสื่อมสภาพตามปกติ
                                </li>
                                <li>
                                    ความเสียหายโดยจงใจ การจัดเก็บหรือสภาพการใช้งานผิดปกติ ขาดการบำรุงรักษาอย่างเหมาะสม อุบัติเหตุ ความประมาทเลินเล่อของลูกค้าหรือบุคคลอื่น
                                </li>
                                <li>
                                    ความล้มเหลวในการติดตั้ง ดำเนินการ หรือใช้ผลิตภัณฑ์ตามคำแนะนำในการใช้งาน คุณลักษณะ หรือสภาพที่มาราธอนจัดให้ลูกค้า หรือ
                                </li>
                                <li>
                                    การเปลี่ยนแปลงแก้ไขหรือซ่อมแซมโดยลูกค้าหรือบุคคลอื่นที่ไม่ใช่ช่างซ่อมที่ได้รับอนุญาตจากมาราธอน
                                </li>
                            </ol>
                        </li>
                        <li>
                            ผลิตภัณฑ์ ข้อมูล ข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ และบริการที่มีหรือได้รับผ่านเว็บไซต์ หรือเว็บไซต์ของบุคคลที่สามที่เชื่อมโยง เป็นการกระทำที่อยู่ในดุลยพินิจและความเสี่ยงของลูกค้าเอง และลูกค้าเป็นผู้รับผิดชอบต่อความเสียหายของระบบคอมพิวเตอร์ หรืออุปกรณ์อิเล็กทรอนิกส์ หรือการสูญหายของข้อมูลที่เป็นผลมาจากการกระทำนั้น
                        </li>
                        <li>
                            การใช้และความเชื่อมั่นต่อผลิตภัณฑ์ ข้อมูล ข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ อยู่ในดุลยพินิจและความเสี่ยงของลูกค้าเอง และมีให้บริการในสภาพ "ที่เป็น" และ "ที่มี" มาราธอนไม่รับประกันหรือรับรองต่อความถูกต้อง หรือความสมบูรณ์ของผลิตภัณฑ์ ข้อมูล ข้อมูลที่สร้างสรรค์ขึ้นโดยผู้ใช้ บริการ หรือเนื้อหาที่มีหรือเชื่อมโยงจากบนเว็บไซต์ เว้นแต่จะระบุไว้อย่างชัดเจนในที่นี้
                        </li>
                    </ol>
                </li>
                <li>การชดใช้ค่าสินไหมทดแทน<br />
                    ลูกค้าจะไม่เรียกร้องการชดใช้ค่าสินไหมทดแทนจากมาราธอนต่อการกระทำ ข้อเรียกร้อง ความต้องการ กระบวนพิจารณา ความรับผิด ความสูญเสีย (ไม่ว่าโดยตรง โดยอ้อม หรือต่อเนื่อง) ค่าใช้จ่าย (รวมถึงค่าใช้จ่ายทางกฎหมายตามหลักการชดใช้ค่าสินไหมทดแทนเต็มจำนวน) และค่าใช้จ่ายทุกชนิดที่เกิดจากมาราธอน เจ้าหน้าที่ พนักงาน ลูกจ้าง ผู้แทน ผู้ผลิต ผู้จัดจำหน่าย บริษัทในเครือ และ/หรือตัวแทน อันเกิดจากหรือเกี่ยวข้องกับ
                    <ol>
                        <li>
                            ข้อเรียกร้องของบุคคลที่สามอันเนื่องจากหรือมาจากข้อมูลที่ลูกค้าประกาศบนเว็บไซต์
                        </li>
                        <li>
                            การละเมิดจริงหรือถูกกล่าวหาว่าละเมิด หรือการไม่ชำระหนี้ หรือการไม่ปฏิบัติตามพันธะหน้าที่หรือคำรับรองของลูกค้าภายใต้เงื่อนไขทั่วไป หรือเกิดจากการใช้เว็บไซต์หรือซื้อผลิตภัณฑ์ของลูกค้า หรือ
                        </li>
                        <li>
                            การละเมิดสิทธิหรือการยักยอกของลูกค้าต่อสิทธิบัตร ลิขสิทธิ์ เครื่องหมายการค้า หรือสิทธิในทรัพย์สินทางปัญญาอื่นๆ ของบุคคลอื่น อันเกี่ยวเนื่องกับการใช้เว็บไซต์หรือซื้อผลิตภัณฑ์
                        </li>
                    </ol>
                </li>
                <li>เหตุสุดวิสัย
                    <ol>
                        <li>
                            "เหตุสุดวิสัย" หมายถึงเหตุที่ไม่สามารถแลเห็นล่วงหน้าได้และอยู่เหนือวิสัยการควบคุม อีกทั้งไม่ได้เกิดจากข้อผิดพลาดหรือความประมาทของคู่สัญญาที่ได้รับผล (รวมถึงผู้รับจ้างช่วง ถ้ามี) และไม่อาจหลีกเลี่ยงได้แม้จะใช้ความระมัดระวังและความพยายามดีแล้วก็ตาม เหตุสุดวิสัยรวมถึงแต่ไม่จำกัดเพียงภัยธรรมชาติ ภัยแล้ง อุทกภัย แผ่นดินไหว พายุ อัคคีภัย ฟ้าผ่า โรคระบาด สงคราม การจลาจล การก่อความไม่สงบ การก่อวินาศกรรม การระเบิด การนัดหยุดงาน หรือข้อพิพาทแรงงาน (รวมถึงการนัดหยุดงาน ข้อพิพาทแรงงาน หรือปัญหาแรงงานอื่นๆ ที่พนักงานของฝ่ายที่รับผล (หรือผู้รับจ้างช่วง ถ้ามี) มีส่วนเกี่ยวข้อง) และการเปลี่ยนแปลงกฎหมาย เหตุสุดวิสัยยังรวมถึงการที่ผู้รับจ้างช่วงไม่สามารถจัดหาแรงงาน บริการ วัสดุหรือเครื่องมืออุปกรณ์ตามพันธะหน้าที่ในสัญญาได้ ทั้งนี้เฉพาะในกรณีที่ความไม่สามารถนั้นเกิดจากเหตุสุดวิสัย
                        </li>
                        <li>
                            มาราธอนจะไม่รับผิดชอบในความเสียหายใดๆ อันเกิดขึ้นจากการไม่สามารถ หรือความล่าช้าในการดำเนินการตามภาระผูกพันของเงื่อนไขทั่วไปนี้ ในกรณีที่การไม่สามารถดำเนินการหรือความล่าช้านั้น เนื่องมาจากเหตุสุดวิสัย โดยมีเงื่อนไขต่อไปนี้เสมอ
                            <ol>
                                <li>
                                    เมื่อทราบว่าตนจะไม่สามารถปฏิบัติได้ตามภาระผูกพัน มาราธอนแจ้งต่อลูกค้าโดยเร็วที่สุด และ
                                </li>
                                <li>
                                    มาราธอนไม่มีภาระผูกพันที่เกิดขึ้นก่อนการเกิดเหตุสุดวิสัยอันเป็นเหตุให้มีการระงับการดำเนินการเนื่องจากผลของการเกิดเหตุนั้น
                                </li>
                            </ol>
                        </li>
                        <li>
                            ในกรณีที่เหตุสุดวิสัยมีผลกระทบต่อมาราธอนในการจัดส่งผลิตภัณฑ์ให้กับลูกค้า มาราธอนจะกำหนดวันที่จัดส่งใหม่กับลูกค้าหลังจากพ้นเหตุสุดวิสัยนั้น
                        </li>
                    </ol>
                </li>
                <li>
                    การติดต่อสื่อสาร<br />
                    ลูกค้าทุกคนที่มีข้อสงสัย สามารถสอบถามได้ทางหน้า 'ติดต่อเรา'
                </li>
                <li>
                    ข้อกำหนดทั่วไปตามกฎหมาย
                    <ol>
                        <li>
                            การมอบหมาย ลูกค้าจะไม่มอบหมาย ถ่ายโอน รับภาระหน้าที่ หรือจัดการในลักษณะอื่นที่คล้ายกันกับสิทธิของตนภายใต้เงื่อนไขทั่วไปนี้ไม่ว่าทั้งหมดหรือส่วนใดส่วนหนึ่ง ทำสัญญาช่วงภาระผูกพันของตนภายใต้เงื่อนไขทั่วไปนี้ไม่ว่าส่วนใดส่วนหนึ่งหรือทั้งหมด หรือตั้งใจที่จะกระทำการใดๆ เช่นนั้น โดยไม่ได้รับความยินยอมอย่างเป็นลายลักษณ์อักษรจากมาราธอนก่อน
                        </li>
                        <li>
                            การเยียวยาความเสียหายและการสละสิทธิ กรณีที่มาราธอนไม่อาจดำเนินการ หรือดำเนินการล่าช้า การใช้สิทธิหรือเยียวยาความเสียหายภายใต้เงื่อนไขทั่วไปนี้ ไม่ถือว่าเป็นการสละสิทธิ อีกทั้งไม่ถือเป็นการใช้สิทธิส่วนเดียว หรือบางส่วนหรือเยียวยาความเสียหายอันเกิดขึ้นจากการป้องกันการดำเนินการอื่นๆ หรือการดำเนินการในอนาคตในการใช้สิทธิหรือการเยียวยาความเสียหายอื่น สิทธิซึ่งได้รับภายใต้เงื่อนไขทั่วไปนี้เป็นส่วนเพิ่มเติมและไม่ได้จำกัดเฉพาะของสิทธิใดๆ หรือการเยียวยาตามที่กฎหมายบัญญัติ หากมาราธอนประสงค์จะสละสิทธิการผิดสัญญาของลูกค้า มาราธอนจะกระทำอย่างเป็นลายลักษณ์อักษรเท่านั้น
                        </li>
                        <li>
                            การแยกกันแห่งข้อสัญญา ความไม่ชอบด้วยกฎหมาย การเป็นโมฆะ หรือการไม่มีผลบังคับใช้ของข้อกำหนดใดๆ ในเงื่อนไขทั่วไปนี้ภายใต้กฎหมายของเขตอำนาจศาลใดๆ จะไม่มีผลต่อความชอบด้วยกฎหมาย ความสมบูรณ์ หรือการมีผลบังคับใช้ภายใต้กฎหมายของเขตอำนาจศาลอื่นใด หรือความชอบด้วยกฎหมาย ความสมบูรณ์ หรือการมีผลบังคับใช้ของข้อกำหนดอื่นใดของข้อกำหนดและเงื่อนไขนี้
                        </li>
                        <li>
                            ภาษา ในกรณีที่ข้อความในข้อตกลงและเงื่อนไขนี้ในภาษาไทยและภาษาอังกฤษไม่ตรงกัน ให้ถือตามข้อความในเว็บไซต์ ในภาษาไทยเป็นหลัก
                        </li>
                    </ol>
                </li>
                <li>
                    กฎหมายที่ใช้บังคับสัญญา<br />
                    เงื่อนไขทั่วไปนี้อยู่ภายใต้กฎหมายและตีความตามกฎหมายของประเทศไทยการระงับข้อพิพาทให้กระทำในเขตอำนาจศาลไทยตามภูมิลำเนาของมาราธอนสำนักงานใหญ่
                </li>

            </ol>

            <br />

            <h2>ข้อกำหนดและเงื่อนไข "บัญชีมาราธอน"</h2>
            <ol class="sty-ol">
                <li>
                    ข้อกำหนดเบื้องต้น<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;บัญชีมาราธอนของลูกค้าถูกสร้างขึ้นโดยบริษัท มาราธอน (ประเทศไทย) จำกัด จัดตั้งขึ้นในประเทศไทย ภายใต้เลขทะเบียน 0105527021583สำนักงานใหญ่ตั้งอยู่ที่ 149 ถนน บรมราชชนนี แขวงอรุณอัมรินทร์ เขตบางกอกน้อย กรุงเทพ 10700 (ซึ่งต่อไปจะเรียกว่า "มาราธอน" หรือ "เรา")
                </li>

                <li>คำนิยามเว้นแต่จะกำหนดไว้เป็นอย่างอื่น ให้คำนิยามและข้อกำหนดในการตีความที่กำหนดไว้ดังต่อไปนี้ ใช้บังคับกับเงื่อนไขและข้อกำหนดในการซื้อขายนี้
                    <ol>
                        <li>
                            "บัญชีมาราธอน" หมายถึง บัญชีที่ออกให้ลูกค้าเพื่อการสมัคร และ/หรือ ลงทะเบียนเว็บไซต์
                        </li>
                        <li>
                            "ข้อมูลส่วนบุคคล" หมายถึง ไม่ว่าแท้จริงหรือไม่ เกี่ยวกับบุคคลซื้อสามารถบ่งชี้จากข้อมูลนั้น หรือจากข้อมูลอื่นที่มาราธอนมีหรือสามารถเข้าถึงได้ ข้อมูลส่วนบุคคลอาจจะรวมถึงชื่อของท่าน อีเมล์แอดเดรส ที่อยู่สำหรับส่งใบเรียกเก็บเงิน ที่อยู่สำหรับส่งของ หมายเลขโทรศัพท์ และข้อมูลบัตรเครดิต
                        </li>
                        <li>
                            "เอกสารต้องห้าม" หมายถึง ข้อสนเทศ กราฟฟิก ภาพถ่าย ข้อมูล และ/หรือเอกสารข้อมูลอื่นใดที่:
                            <ol>
                                <li>
                                    มีไวรัสคอมพิวเตอร์ใดหรือรหัส โปรแกรม หรือมาโครอื่นใดที่คุกคามหรือสร้างความเสียหาย
                                </li>
                                <li>
                                    ละเมิดทรัพย์สินทางปัญญาของบุคคลภายนอกหรือสิทธิอันมีเจ้าของอื่นใด
                                </li>
                                <li>
                                    ทำให้เสียชื่อเสียง ใส่ร้าย หรือข่มขู่
                                </li>
                                <li>
                                    เป็นวัตถุน่ารังเกียจ ลามกอนาจาร ละเมิด ฉ้อฉล ขโมยมา อันตราย หรือไม่ชอบด้วยกฎหมายตามกฎหมายที่เกี่ยวข้อง และ/หรือ
                                </li>
                                <li>
                                    ตีความหรืออาจตีความได้ว่าเป็นก้าวร้าวหรือโจมตีบุคคลอื่น และ/หรือน่ารังเกียจ ในความเห็นของเราแต่ฝ่ายเดียว
                                </li>
                            </ol>
                        </li>
                        <li>
                            "ทรัพย์สินทางปัญญา" หมายถึง ลิขสิทธิ์ สิทธิบัตร สิ่งประดิษฐ์อรรถประโยชน์ เครื่องหมายการค้าและเครื่องหมายบริการ สิ่งบ่งชี้ทางภูมิศาสตร์ โดเมนเนม สิทธิในออกแบบโครงร่าง แบบที่จดทะเบียนไว้ สิทธิในแบบ สิทธิในฐานข้อมูล ชื่อทางการค้าและธุรกิจ สิทธิในการปกป้องความลับทางการค้าและข้อมูลอันเป็นความลับ สิทธิในการปกป้องค่าแห่งความนิยมและชื่อเสียง และสิทธิอันมีเจ้าของอื่น ๆ ทั้งหลายในทำนองเดียวกัน และคำขอจดทะเบียนทั้งหลายในสิ่งที่กล่าวมา ไม่ว่าที่มีอยู่ในปัจจุบันหรือเกิดขึ้นในอนาคต ไม่ว่าที่ใดในโลก ไม่ว่าจดทะเบียนแล้วหรือไม่ และผลประโยชน์ สิทธิพิเศษ สิทธิในการฟ้องร้อง การเรียกค่าเสียหาย และได้รับการบรรเทาหรือการเยียวยาอื่นๆ ต่อการละเมิด ยักยอก หรือฝ่าฝืนใด ๆ ในสิทธิใด ๆ ดังกล่าวมา
                        </li>
                    </ol>
                </li>
                <li>
                    ข้อกำหนดและเงื่อนไข
                    <ol>
                        <li>
                            ลูกค้า ผู้ซึ่งมีอีเมล์และหรือหมายเลขโทรศัพท์ ไม่จะเป็นบุคคลธรรมดา หรือ นิติบุคคล จำเป็นต้องสร้างบัญชีมาราธอน โดยการให้ข้อมูลส่วนบุคคล เช่น อีเมลล์ และหรือหมายเลขโทรศัพท์ เป็นต้น ในการที่จะสามารถสั่งซื้อสินค้าจาก (ซึ่งต่อไปนี้จะเรียกว่า "ลูกค้า" หรือ "คุณ")
                            <ol>
                                <li>
                                    ร้านค้ามาราธอนทุกสาขาในประเทศไทย
                                </li>
                                <li>
                                    เว็บไซต์มาราธอน www.marathon.co.th (ซึ่งต่อไปนี้จะเรียกว่า "เว็บไซต์")<br />
                                    ในการให้ข้อมูลดังกล่าวข้างต้น ถือเป็นการยอมรับข้อกำหนดและเงื่อนไขนี้
                                </li>
                            </ol>
                        </li>
                        <li>
                            บัญชีมาราธอนเป็นบัญชีส่วนบุคคลและไม่สามารถโอนสิทธิให้บุคคลอื่นได้ ดังนั้น คุณจึงมีความรับผิดชอบต่อบัญชีของคุณและรับรองว่าจะใช้ให้เป็นไปตามข้อกำหนดและเงื่อนไขนี้ คุณมีความรับผิดในการใช้ชื่อบัญชีและรหัสผ่านของคุณรวมถึงแต่ไม่จำกัดเพียง
                            <ol>
                                <li>
                                    สร้างบัญชีมาราธอนเพียง 1 บัญชี
                                </li>
                                <li>
                                    รับรองความถูกต้องของข้อมูลทั้งหมดที่ให้แก่มาราธอน
                                </li>
                                <li>
                                    ปลดเปลื้องมาราธอนจากความรับผิดใดๆที่เกิดขึ้นจากการใช้ประโยชน์บัญชีมาราธอนโดยบุคคลที่ไม่ได้ รับอนุญาต
                                </li>
                                <li>
                                    แจ้งให้มาราธอนทราบถึงการใช้บัญชีมาราธอนของคุณโดยไม่ได้รับอนุญาตและใช้โดยละเมิดการรักษาความลับและความปลอดภัยของข้อมูลประจำตัวของคุณ
                                </li>
                                <li>
                                    แจ้งให้มาราธอนทราบในกรณีที่ข้อมูลส่วนบุคคลมีการเปลี่ยนแปลง
                                </li>
                            </ol>
                        </li>
                        <li>คุณจะต้องมีภูมิลำเนาอยู่ในประเทศไทย และ มีอายุ 18 ปีบริบูรณ์ หรือมากกว่า ในกรณีที่อายุต่ำว่า 18 ปีบริบูรณ์ คุณจะต้องได้รับความยินยอมจาก บิดามารดา หรือ ผู้ปกครองตามกฎหมาย การให้ความยินยอมดังกล่าวหมายถึงการยอมรับในข้อกำหนดและเงื่อนไขนี้ และ การตกลงในการที่จะรับผิดชอบต่อ
                            <ol>
                                <li>
                                    การกระทำของคุณ
                                </li>
                                <li>
                                    ค่าใช้จ่ายที่เกิดขึ้นจากการใช้บริการ หรือ การซื้อสินค้า และ
                                </li>
                                <li>
                                    ความยินยอมและปฏิบัติตามข้อกำหนดและเงื่อนไขนี้ ถ้าคุณไม่ได้รับความยินยอมจากบิดามารดา หรือ ผู้ปกครองตามกฎหมาย คุณจะต้องหยุดการใช้และการเข้าถึงเว็บไซต์นี้
                                </li>
                            </ol>
                        </li>
                        <li>กิจกรรมที่ต้องห้าม: ท่านตกลงและให้คำมั่นที่จะไม่:
                            <ol>
                                <li>
                                    ปลอมเป็นบุคคลหรือหน่วยงานใดๆ หรือระบุถ้อยคำอันเป็นเท็จหรือแสดงตนโดยหลอกลวงด้วยประการอื่นใดในความเกี่ยวข้องสัมพันธ์กับบุคคลหรือหน่วยงานใดๆ
                                </li>
                                <li>
                                    ใช้แพลตฟอร์มหรือบริการเพื่อวัตถุประสงค์ที่ไม่ชอบด้วยกฎหมาย
                                </li>
                                <li>
                                    พยายามจะเข้าใช้โดยไม่ได้รับอนุญาตหรือทำการรบกวนหรือทำให้ระบบคอมพิวเตอร์หรือเครือข่ายอื่นที่เชื่อมต่อกับแพลตฟอร์มหรือบริการขัดข้อง
                                </li>
                                <li>
                                    โพสต์ ส่งเสริม หรือส่งเอกสารข้อมูลต้องห้ามใดๆผ่านทางเว็บไซต์
                                </li>
                                <li>
                                    รบกวนการใช้งานและการใช้ประโยชน์จากแพลตฟอร์มหรือบริการของผู้อื่น
                                </li>
                                <li>
                                    ใช้หรืออัพโหลด ในทางใดทางหนึ่ง ซึ่งซอฟต์แวร์หรือเอกสารข้อมูลใด ๆ ที่มี หรือที่ท่านมีเหตุให้สงสัยว่ามีไวรัส ส่วนประกอบที่ทำให้เสียหาย รหัสที่เป็นอันตราย หรือส่วนประกอบที่ทำอันตรายซึ่งอาจจะทำให้ข้อมูลของเว็บไซต์เสียหายหรือผิดพลาดได้ หรือทำให้เสียหายหรือรบกวนการทำงานของคอมพิวเตอร์หรืออุปกรณ์มือถือของลูกค้ารายอื่น หรือของแพลตฟอร์มหรือบริการได้ และ
                                </li>
                                <li>
                                    ใช้เว็บไซต์หรือบริการนอกเหนือจากที่สอดคล้องกับนโยบายการใช้งานที่เป็นที่ยอมรับของเครือข่ายที่เชื่อมต่อใด ๆ มาตรฐานอินเทอร์เน็ตใด ๆ ที่เกี่ยวข้อง และกฎหมายอื่นใดที่เกี่ยวข้อง
                                </li>
                            </ol>
                        </li>
                        <li>
                            ความพร้อมของเว็บไซต์: มาราธอนอาจจะทำการปรับปรุง แก้ไข ระงับ หรือหยุดการให้บริการหรือถอดออก ไม่ว่าทั้งหมดหรือบางส่วน ของเว็บไซต์ ในบางช่วงเวลา โดยไม่จำต้องให้เหตุผลใด ๆ หรือคำบอกกล่าวล่วงหน้า และไม่ต้องรับผิดชอบใดๆ หากการปรับปรุง แก้ไข ระงับ หรือถอดออกดังกล่าวจะทำให้ท่านไม่สามารถเข้าใช้เว็บไซต์ได้
                        </li>
                        <li>
                            สิทธิในการติดตามตรวจสอบเนื้อหา: ดีแคทลอยขอสงวนสิทธิโดยดุลพินิจแต่ฝ่ายเดียวแต่ไม่ผูกพันที่จะ:
                            <ol>
                                <li>
                                    ติดตามตรวจสอบ คัดกรอง หรือควบคุมกิจกรรม เนื้อหา หรือเอกสารข้อมูลใด ๆ บนแพลตฟอร์ม และ/หรือผ่านการบริการ เราอาจจะสอบสวนการฝ่าฝืนใด ๆ ในเงื่อนไขและข้อกำหนดที่อยู่ในที่นี้และอาจจะดำเนินการใด ๆ ตามที่เห็นสมควรโดยดุลพินิจของทางเราแต่เพียงฝ่ายเดียว
                                </li>
                                <li>
                                    ป้องกันหรือจำกัดการเข้าใช้เว็บไซต์ของลูกค้า
                                </li>
                                <li>
                                    รายงานกิจกรรมใดที่เราสงสัยว่าจะฝ่าฝืนกฎหมาย หรือระเบียบกฎเกณฑ์ใดๆที่ใช้บังคับ ให้หน่วยงานที่เหมาะสมทราบ และให้ความร่วมมือกับหน่วยงานดังกล่าว และ/หรือ
                                </li>
                                <li>
                                    ร้องขอข้อสนเทศและข้อมูลใด ๆ จากท่านอันเกี่ยวกับการใช้บริการ และ/หรือการเข้าใช้แพลตฟอร์มของท่านในเวลาใด ๆ และใช้สิทธิของเราภายใต้ข้อนี้หากท่านปฏิเสธที่จะให้ข้อสนเทศ และ/หรือข้อมูลดังกล่าว หรือหากท่านให้หรือเรามีเหตุให้เชื่อได้ว่าท่านให้ข้อสนเทศ และ/หรือข้อมูลที่ไม่ถูกต้อง ทำให้เกิดความเข้าใจผิด หรือโดยฉ้อฉล
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
            #}
        </div>
    </section>
{% endblock %}
