{% extends 'ProjectBundle::admin.html.twig'%}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% use "ProjectBundle:AdminShippingCarrier:blocks.html.twig" %}
{% use "ProjectBundle::flash_message.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-md-8 margin-10-0">
		<a href="{{path('admin_shipping_carrier_new')}}" class="btn btn-instagram" title="Add"><i class="fa fa-plus"></i> Add</a>
	</div>
</div>
<br class="clearBoth">

<div class="row">
    <div class="col-xs-12">
        <div class="box" style="min-height: 1000px;">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn bg-red" data-form_id="data_group" id="group_delete">
                            <i class="fa fa-trash-o"></i> Delete
                        </button>
                    </div>
                </div>
            </div>

            <form action="#" method="post" id="data_group" data-delete_path="{{path('admin_shipping_carrier_group_delete')}}">
                <div class="box-body icheck">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="19"><input type="checkbox" id="select_all" /></th>
                                <th>Name</th>
                                <th>Tracking URL</th>
                                <th class="text-center" width="50">Edit</th>
                                <th class="text-center" width="50">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in paginated.currentpageresults %}

                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" name="data_ids[]" class="check_all" value="{{data.id}}"/>
                                    </td>
                                    <td class="">{{data.name}}</td>

                                    <td class="">{{data.trackingUrl}}</td>

                                    <td class="text-center"><a href="{{path('admin_shipping_carrier_edit', {'id' : data.id})}}" title="Edit"><i class="fa fa-pencil-square-o fa-2x"></i></a></td>
                                    <td class="text-center"><a href="{{path('admin_shipping_carrier_delete', {'id' : data.id})}}" onclick="return confirm('Are you sure you want to delete?');" title="Delete"><i class="fa fa-trash fa-2x"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /.box-body -->

                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="margin">Total : {{paginated.getNbResults}}</div>
                        </div>
                        <div class="col-md-9">
                            {% if paginated.havetopaginate %}
                            {{pagerfanta(paginated,'twitter_bootstrap3_translated')}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.box -->
    </div>
</div>

{% endblock %}
