{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="fos-change-pass">
{#  {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="_submit" name="_submit" class="btn btn-marathon">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
        <a href="{{path('fos_user_profile_show')}}" class="btn btn-default">{{'profile.edit.close'|trans({}, 'FOSUserBundle')}}</a>
      </div>
    </div>
  {{ form_end(form) }}#}

  <form action="{{path('fos_user_change_password')}}" method="post" id="fos_user_change_password" name="fos_user_change_password" enctype="multipart/form-data" class="form-horizontal" novalidate>
    {{form_widget(form._token)}}

    <div class="form-group">
      <label class="col-sm-3 control-label" for="current_password">{{ 'form.current_password'|trans({}, 'FOSUserBundle') }} <span class="red-text"> *</span></label>
      <div class="col-sm-6">
        {{form_widget(form.current_password, {'id' : 'current_password'})}}
        <div class="red-text">{{form_errors(form.current_password)}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="password">{{ 'form.new_password'|trans({}, 'FOSUserBundle') }} <span class="red-text"> *</span></label>
      <div class="col-sm-6">
        {{form_widget(form.plainPassword.first,{'id' : 'password', 'attr': {'class': 'form-control'} })}}
        <div class="red-text">{{form_errors(form.plainPassword.first)}}</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" for="confirm-password">{{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }} <span class="red-text"> *</span></label>
      <div class="col-sm-6">
        {{form_widget(form.plainPassword.second,{'id' : 'confirm-password', 'attr': {'class': 'form-control'} })}}
        <div class="red-text">{{form_errors(form.plainPassword.second)}}</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="submit" id="_submit" name="_submit" class="btn btn-marathon">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
        <a href="{{path('fos_user_profile_show')}}" class="btn btn-default">{{'profile.edit.close'|trans({}, 'FOSUserBundle')}}</a>
      </div>
    </div>

  </form>
</div>
