{% extends 'ProjectBundle::admin.html.twig'%}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script></script>
{% endblock %}

{% use "ProjectBundle:AdminCustomerPaymentBankTransfer:blocks.html.twig" %}
{% use "ProjectBundle::flash_message.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-md-8 margin-10-0">
		<a href="" class="btn btn-info" title="Refresh"><i class="fa fa-refresh"></i> Refresh</a>
	</div>
</div>

<br class="clearBoth">

<div class="row" {#ng-app="adminOrderApp" ng-controller="adminOrderController"#}>
  <div class="col-xs-12">
    <div class="box" >
	      <div class="box-body">
	      	<table border="0" class="table table-hover">
	      		<thead>
	          		<tr>
              			<th width="160px">Order Number</th>
						<th width="160px">Name</th>
						<th width="160px">amount Transfer</th>
						<th width="160px">Bank Account Name</th>
						<th width="160px">Date Transfer</th>
						<th width="160px">Time Transfer</th>
              			<th class="text-center" width="50">View</th>
              			{#<th class="text-center" width="50">Delete</th>#}
	          		</tr>
	          	</thead>
	          	<tbody>
					{% for paymeny_bank in paginated.currentpageresults %}
					<tr class="odd gradeX">
                		<td>
                  			<a href="{{path('admin_customer_order_view', {'id' : paymeny_bank.CustomerOrder.id})}}" title="View">{{paymeny_bank.orderNumber}}</a>
                		</td>
						<td>{{paymeny_bank.firstName}} {{paymeny_bank.LastName}}</td>
						<td>{{paymeny_bank.amount|number_format(0, '', ',')}} ฿</td>
						<td>{{paymeny_bank.bankAccount.title}}</td>
						<td>{{paymeny_bank.dateTransfer|date('d M Y')}} </td>
						<td>{{paymeny_bank.timeTransfer|date('H:i')}}</td>

                		<td class="text-center"><a href="{{path('admin_customer_order_view', {'id' : paymeny_bank.CustomerOrder.id})}}" title="View"><i class="fa fa-file-text-o fa-2x"></a></td>
                		{#<td class="text-center"><a href="" onclick="return confirm('Are you sure you want to delete?');" title="Delete"><i class="fa fa-trash fa-2x"></i></a></td>#}
					</tr>
					{% endfor %}
				</tbody>
	        </table>

	      </div><!-- /.box-body -->

      	<div class="box-footer clearfix">
	      	<div class="row">
	        	<div class="col-md-3">
	        		<div class="margin">Total : {{paginated.getNbResults}}</div>
	      		</div>
	      		<div class="col-md-9">
      				{% if paginated.havetopaginate %}
				        {{pagerfanta(paginated,'twitter_bootstrap3_translated')}}
							{% endif %}
						</div>
					</div>
				</div>
    </div><!-- /.box -->
  </div>
</div>

<script>
  // var app = angular.module('adminOrderApp',[]);
  //
  // app.controller('adminOrderController',['$scope','$http',function($scope, $http){
  //
  //  {# //$scope.search_start_date = '{{"first day of this month"|date('d/m/Y')}}';
  //   //$scope.search_end_date = '{{"now"|date('d/m/Y')}}';
  //
  //   $scope.filterType = {{arr_query_data['search_type']}};
  //   $scope.filterDateType ={{arr_query_data['date_type']}};
  //   $scope.yearIndex = {{arr_query_data['search_year']}};
  //   $scope.monthIndex = {% if arr_query_data['search_month'] %}{{arr_query_data['search_month']}}{% else %}(new Date().getMonth()){% endif %};
  //
  //   $scope.search_start_date = '{{arr_query_data['search_start_date']}}';
  //   $scope.search_end_date = '{{arr_query_data['search_end_date']}}';
  //   $scope.search_status = '{{arr_query_data['search_status']}}';#}
  //
  //   $scope.filter_date_type_data = [
  //     {name:'Order', id:1},
  //     {name:'Shipment', id:2}
  //   ];
  //   $scope.filter_ddl = [
  //     {name:'Date Range', id:1},
  //     {name:'Month', id:2}
  //   ];
  //   $scope.data_status = [
  //     {id: '2', name: 'All'},
  //     {id: '1', name: 'Paid'},
  //     {id: '0', name: 'Unpaid'}
  //   ];
  //
  //   $scope.months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  //   var currentYear = new Date().getFullYear();
  //   $scope.years = [];
  //   for (var i = 0; i < 10; i++){
  //     $scope.years.push(currentYear - i);
  //   }
  //
  //   $scope.getFilterTypeData = function() {
  //     return $scope.filterType;
  //   }
  //
  // }]);
</script>

{% endblock %}
