{% extends "ProjectBundle:"~ view_layout ~":layout_member.html.twig" %}

{% block title %}{% trans %}member.generate.token{% endtrans %} | {{ parent() }}{% endblock %}
{% block member_set_password_active %}active{% endblock %}
{% block member_header %}{% trans %}member.set_password{% endtrans %}{% endblock %}
{% block breadcrumb_sub %}
    {{ parent() }}
    <li>{% trans %}member.set_password{% endtrans %}</li>
{% endblock %}
{% block content_member %}

    <div class="member-box member-generate-token">
        <p>
            {% trans %}member.password.setpassword.description{% endtrans %}
        </p>

        <p>
            {% trans %}member.password.setpassword.username{% endtrans %}
            <b>{{app.user.email}}</b>
        </p>
        <br />
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <input type="hidden" id="username" name="username" value="{{app.user.email}}"/>
            <button type="submit" id="_submit" name="_submit" class="thm-btn arrow-push-in-right"><span>{{ 'member.password.setpassword.submit'|trans() }} <i class="fa fa-caret-right"></i></span></button>
        </form>
        <br />

    </div>
{% endblock %}
