{%extends 'ProjectBundle::admin.html.twig'%}

{%block javascripts%}
  {{ parent() }}
{%endblock%}

{% use "ProjectBundle:AdminUser:blocks.html.twig" %}
{% use "ProjectBundle::flash_message.html.twig" %}
{%block breadcrumb_sub%}
	{{ parent() }}
	<li><a href="{{path('admin_user_edit', {'id' : form.vars.value.id})}}">Edit</a></li>
  <li class="active">Reset Password</li>
{%endblock%}

{%block content%}
<div class="row">
	<div class="col-md-12">
	  <div class="box box-primary">
	    <div class="box-header">
	      <h3 class="box-title">Reset Password </h3>
	    </div><!-- /.box-header -->
	    <!-- form start -->
      <form id="data_form" action="{{path('admin_user_change_password_update', {'id': form.vars.value.id})}}" method="post" role="form" enctype="multipart/form-data" class="form-horizontal">
	      {{form_widget(form._token)}}
	      {%include 'ProjectBundle:AdminUser:_form_change_password.html.twig'%}
	    </form>
	  </div><!-- /.box -->
	</div>
</div>
{%endblock%}
