{% extends 'ProjectBundle::admin.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet"/>
    <style media="screen">
        label {
            font-weight: normal !important;
        }
        tags-input .host {
            margin-top: 0px !important;
        }
        tags-input .tags {
            box-shadow: none !important;
        }
        .photo-gallery img {
            height: 80px !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('moment/moment.js')}}"></script>
    <script src="{{asset('bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')}}" type="text/javascript"></script>
{% endblock %}

{% use "ProjectBundle:AdminProduct:blocks.html.twig" %}
{% use "ProjectBundle::flash_message.html.twig" %}

{% block content_header %}Add Product{% endblock %}

{% block breadcrumb_sub %}
	{{ parent() }}
	<li class="active">Add</li>
{% endblock %}

{% block content %}
    <form id="data_form" action="{{path('admin_product_create')}}" method="post" role="form" enctype="multipart/form-data">
        {{form_widget(form._token)}}
        {% include 'ProjectBundle:AdminProduct:_form.html.twig'%}
    </form>
{% endblock %}
